In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data=pd.read_excel('赛题1测试数据集/上市信息财务信息运营能力指标.xlsx')
data

      企业编号      标题          日期  总资产周转率(次) 应收账款周转天数(天) 存货周转天数(天)
0     4001  运营能力指标  2018-09-30       0.21      180.94    907.77
1     4001  运营能力指标  2018-06-30       0.14      174.31    942.99
2     4001  运营能力指标  2018-03-31       0.06      210.34   1078.28
3     4001  运营能力指标  2017-12-31       0.39      128.86    647.43
4     4001  运营能力指标  2017-09-30       0.22      150.38    916.96
5     4001  运营能力指标  2017-06-30       0.17      138.35    799.99
6     4001  运营能力指标  2017-03-31       0.08      162.05    896.90
7     4001  运营能力指标  2016-12-31       0.40      102.91    698.40
8     4001  运营能力指标  2016-09-30       0.28       92.16    790.56
9     4002  运营能力指标  2018-09-30       0.21      326.81    160.28
10    4002  运营能力指标  2018-06-30       0.16      303.44     99.49
11    4002  运营能力指标  2018-03-31       0.08      292.66     81.88
12    4002  运营能力指标  2017-12-31       0.44      211.02     69.50
13    4002  运营能力指标  2017-09-30       0.22      299.86    130.93
14    4002  运营能力指标  2017-06-30       0.15      298.97    121.47
15    4002  运营能力指标  2017-03-31       0.08      269.95     98.64
16    4002  运营能力指标  2016-12-31       0.53      160.88     69.61
17    4002  运营能力指标  2016-09-30       0.46      167.98     70.33
18    4003  运营能力指标  2018-09-30       0.59       88.82     47.46
19    4003  运营能力指标  2018-06-30       0.30      102.69     62.02
20    4003  运营能力指标  2018-03-31       0.11      132.27     63.87
21    4003  运营能力指标  2017-12-31       1.31       52.16     25.49
22    4003  运营能力指标  2017-09-30       0.97       55.77     25.83
23    4003  运营能力指标  2017-06-30       0.62       59.00     28.73
24    4003  运营能力指标  2017-03-31       0.27       64.23     38.62
25    4003  运营能力指标  2016-12-31       1.02       59.99     32.86
26    4003  运营能力指标  2016-09-30       0.73       65.92     36.30
27    4003  运营能力指标  2017-09-30       0.67       53.89     48.09
28    4003  运营能力指标  2017-06-30       0.42       71.87     50.48
29    4003  运营能力指标  2017-03-31       0.20       76.63     56.44
...    ...     ...         ...        ...         ...       ...
4891  4522  运营能力指标  2018-09-30       0.57          --    142.10
4892  4522  运营能力指标  2018-06-30       0.38          --    134.48
4893  4522  运营能力指标  2017-12-31       0.79          --    130.61
4894  4522  运营能力指标  2017-09-30       1.09          --     77.23
4895  4522  运营能力指标  2016-12-31       0.84          --    120.23
4896  4522  运营能力指标  2015-12-31       1.04       29.13    118.99
4897  4522  运营能力指标  2014-12-31       2.08       37.15     70.96
4898  4523  运营能力指标  2018-09-30       0.35          --    478.40
4899  4523  运营能力指标  2018-06-30       0.25          --    399.11
4900  4523  运营能力指标  2017-12-31       0.52          --    393.47
4901  4523  运营能力指标  2017-09-30       0.74          --    250.94
4902  4523  运营能力指标  2017-03-31       0.09       50.29    637.14
4903  4523  运营能力指标  2016-12-31       0.58          --    373.87
4904  4523  运营能力指标  2016-06-30       0.30       32.20    319.48
4905  4523  运营能力指标  2015-12-31       0.66       29.33    327.06
4906  4523  运营能力指标  2014-12-31       0.54       65.60    445.41
4907  4524  运营能力指标  2018-09-30       0.67       85.11    267.21
4908  4524  运营能力指标  2018-06-30       0.51       73.35    220.63
4909  4524  运营能力指标  2017-12-31       0.75       53.12    411.26
4910  4524  运营能力指标  2017-09-30       1.25          --    174.22
4911  4524  运营能力指标  2016-12-31       0.99          --    294.96
4912  4524  运营能力指标  2015-12-31       0.98        2.59    334.14
4913  4524  运营能力指标  2014-12-31       0.52       15.58    606.15
4914  4525  运营能力指标  2018-09-30       0.67       41.11    136.69
4915  4525  运营能力指标  2018-03-31       0.22       38.84    142.02
4916  4525  运营能力指标  2017-12-31       0.82       39.45    126.97
4917  4525  运营能力指标  2017-09-30       1.29       16.61     51.28
4918  4525  运营能力指标  2016-12-31       0.71       44.64    114.51
4919  4525  运营能力指标  2015-12-31       0.59       58.05    114.23
4920  4525  运营能力指标  2014-12-31       1.07       31.49     57.78

[4921 rows x 6 columns]

In [3]:
#查看在表的公司总数
len(data['企业编号'].unique())

524

In [4]:
#将缺失值变为nan
data=data.replace('--',np.nan)

In [5]:
#查看出现较多的时间
data['日期'].value_counts()

2017-09-30    548
2016-12-31    548
2017-06-30    542
2017-03-31    536
2017-12-31    535
2018-09-30    527
2018-06-30    527
2018-03-31    524
2016-09-30    516
2015-12-31     36
2016-06-30     30
2016-03-31     20
2015-09-30     11
2014-12-31     11
2018-12-31      4
2015-06-30      3
2013-12-31      1
2012-12-31      1
2010-12-31      1
Name: 日期, dtype: int64

In [6]:
#补全时间，规整时间的格式
pattern='\d\d\d\d-\d\d-\d\d'
for i in range(len(data)):
    if re.findall(pattern,data.iloc[i,2])==[]:
        data.iloc[i,2]='20'+data.iloc[i,2]

In [7]:
#去除企业编号与日期值相同的行，保留第一次出现的行
data.drop_duplicates(subset=['企业编号','日期'],keep='first',inplace=True)

In [8]:
#再次查看出现较多的时间
data['日期'].value_counts()

2017-09-30    524
2016-12-31    524
2018-09-30    523
2017-12-31    523
2018-06-30    522
2017-06-30    518
2018-03-31    513
2017-03-31    513
2016-09-30    492
2015-12-31     33
2016-06-30     27
2016-03-31     17
2014-12-31     11
2015-09-30      9
2018-12-31      4
2015-06-30      2
2013-12-31      1
2012-12-31      1
2010-12-31      1
Name: 日期, dtype: int64

In [9]:
#将数量较少的日期全部丢弃
timelist=list(['2016-12-31','2017-09-30','2017-12-31','2018-06-30','2018-09-30','2017-06-30','2018-03-31','2017-03-31','2016-09-30'])
data=data[data['日期'].isin(timelist)]
data

      企业编号      标题          日期  总资产周转率(次) 应收账款周转天数(天) 存货周转天数(天)
0     4001  运营能力指标  2018-09-30       0.21      180.94    907.77
1     4001  运营能力指标  2018-06-30       0.14      174.31    942.99
2     4001  运营能力指标  2018-03-31       0.06      210.34   1078.28
3     4001  运营能力指标  2017-12-31       0.39      128.86    647.43
4     4001  运营能力指标  2017-09-30       0.22      150.38    916.96
5     4001  运营能力指标  2017-06-30       0.17      138.35    799.99
6     4001  运营能力指标  2017-03-31       0.08      162.05    896.90
7     4001  运营能力指标  2016-12-31       0.40      102.91    698.40
8     4001  运营能力指标  2016-09-30       0.28       92.16    790.56
9     4002  运营能力指标  2018-09-30       0.21      326.81    160.28
10    4002  运营能力指标  2018-06-30       0.16      303.44     99.49
11    4002  运营能力指标  2018-03-31       0.08      292.66     81.88
12    4002  运营能力指标  2017-12-31       0.44      211.02     69.50
13    4002  运营能力指标  2017-09-30       0.22      299.86    130.93
14    4002  运营能力指标  2017-06-30       0.15      298.97    121.47
15    4002  运营能力指标  2017-03-31       0.08      269.95     98.64
16    4002  运营能力指标  2016-12-31       0.53      160.88     69.61
17    4002  运营能力指标  2016-09-30       0.46      167.98     70.33
18    4003  运营能力指标  2018-09-30       0.59       88.82     47.46
19    4003  运营能力指标  2018-06-30       0.30      102.69     62.02
20    4003  运营能力指标  2018-03-31       0.11      132.27     63.87
21    4003  运营能力指标  2017-12-31       1.31       52.16     25.49
22    4003  运营能力指标  2017-09-30       0.97       55.77     25.83
23    4003  运营能力指标  2017-06-30       0.62       59.00     28.73
24    4003  运营能力指标  2017-03-31       0.27       64.23     38.62
25    4003  运营能力指标  2016-12-31       1.02       59.99     32.86
26    4003  运营能力指标  2016-09-30       0.73       65.92     36.30
36    4004  运营能力指标  2018-09-30       0.14       19.23      1.53
37    4004  运营能力指标  2018-06-30       0.09       19.22      1.45
38    4004  运营能力指标  2018-03-31       0.04       18.72      1.55
...    ...     ...         ...        ...         ...       ...
4878  4520  运营能力指标  2017-12-31       0.55         NaN    639.58
4879  4520  运营能力指标  2017-09-30       1.18         NaN    206.79
4880  4520  运营能力指标  2016-12-31       0.86         NaN    384.74
4883  4521  运营能力指标  2018-09-30       1.31         NaN     52.87
4884  4521  运营能力指标  2018-06-30       0.89         NaN     59.64
4885  4521  运营能力指标  2017-12-31       1.58         NaN     60.08
4886  4521  运营能力指标  2017-09-30       4.10         NaN     14.72
4887  4521  运营能力指标  2017-06-30       0.78       48.30     55.52
4888  4521  运营能力指标  2016-12-31       1.76         NaN     51.26
4891  4522  运营能力指标  2018-09-30       0.57         NaN    142.10
4892  4522  运营能力指标  2018-06-30       0.38         NaN    134.48
4893  4522  运营能力指标  2017-12-31       0.79         NaN    130.61
4894  4522  运营能力指标  2017-09-30       1.09         NaN     77.23
4895  4522  运营能力指标  2016-12-31       0.84         NaN    120.23
4898  4523  运营能力指标  2018-09-30       0.35         NaN    478.40
4899  4523  运营能力指标  2018-06-30       0.25         NaN    399.11
4900  4523  运营能力指标  2017-12-31       0.52         NaN    393.47
4901  4523  运营能力指标  2017-09-30       0.74         NaN    250.94
4902  4523  运营能力指标  2017-03-31       0.09       50.29    637.14
4903  4523  运营能力指标  2016-12-31       0.58         NaN    373.87
4907  4524  运营能力指标  2018-09-30       0.67       85.11    267.21
4908  4524  运营能力指标  2018-06-30       0.51       73.35    220.63
4909  4524  运营能力指标  2017-12-31       0.75       53.12    411.26
4910  4524  运营能力指标  2017-09-30       1.25         NaN    174.22
4911  4524  运营能力指标  2016-12-31       0.99         NaN    294.96
4914  4525  运营能力指标  2018-09-30       0.67       41.11    136.69
4915  4525  运营能力指标  2018-03-31       0.22       38.84    142.02
4916  4525  运营能力指标  2017-12-31       0.82       39.45    126.97
4917  4525  运营能力指标  2017-09-30       1.29       16.61     51.28
4918  4525  运营能力指标  2016-12-31       0.71       44.64    114.51

[4652 rows x 6 columns]

In [10]:
#转换数据格式
def get_number(cell):
    if not isinstance(cell, str):
        return cell
    _ = re.findall(r'[\d.]+',cell)
    if not _:
        return None
    return float(_[0])

In [11]:
data.iloc[:,3]=data.iloc[:,3].apply(get_number)
data.iloc[:,4]=data.iloc[:,4].apply(get_number)
data.iloc[:,5]=data.iloc[:,5].apply(get_number)
data

      企业编号      标题          日期  总资产周转率(次)  应收账款周转天数(天)  存货周转天数(天)
0     4001  运营能力指标  2018-09-30       0.21       180.94     907.77
1     4001  运营能力指标  2018-06-30       0.14       174.31     942.99
2     4001  运营能力指标  2018-03-31       0.06       210.34    1078.28
3     4001  运营能力指标  2017-12-31       0.39       128.86     647.43
4     4001  运营能力指标  2017-09-30       0.22       150.38     916.96
5     4001  运营能力指标  2017-06-30       0.17       138.35     799.99
6     4001  运营能力指标  2017-03-31       0.08       162.05     896.90
7     4001  运营能力指标  2016-12-31       0.40       102.91     698.40
8     4001  运营能力指标  2016-09-30       0.28        92.16     790.56
9     4002  运营能力指标  2018-09-30       0.21       326.81     160.28
10    4002  运营能力指标  2018-06-30       0.16       303.44      99.49
11    4002  运营能力指标  2018-03-31       0.08       292.66      81.88
12    4002  运营能力指标  2017-12-31       0.44       211.02      69.50
13    4002  运营能力指标  2017-09-30       0.22       299.86     130.93
14    4002  运营能力指标  2017-06-30       0.15       298.97     121.47
15    4002  运营能力指标  2017-03-31       0.08       269.95      98.64
16    4002  运营能力指标  2016-12-31       0.53       160.88      69.61
17    4002  运营能力指标  2016-09-30       0.46       167.98      70.33
18    4003  运营能力指标  2018-09-30       0.59        88.82      47.46
19    4003  运营能力指标  2018-06-30       0.30       102.69      62.02
20    4003  运营能力指标  2018-03-31       0.11       132.27      63.87
21    4003  运营能力指标  2017-12-31       1.31        52.16      25.49
22    4003  运营能力指标  2017-09-30       0.97        55.77      25.83
23    4003  运营能力指标  2017-06-30       0.62        59.00      28.73
24    4003  运营能力指标  2017-03-31       0.27        64.23      38.62
25    4003  运营能力指标  2016-12-31       1.02        59.99      32.86
26    4003  运营能力指标  2016-09-30       0.73        65.92      36.30
36    4004  运营能力指标  2018-09-30       0.14        19.23       1.53
37    4004  运营能力指标  2018-06-30       0.09        19.22       1.45
38    4004  运营能力指标  2018-03-31       0.04        18.72       1.55
...    ...     ...         ...        ...          ...        ...
4878  4520  运营能力指标  2017-12-31       0.55          NaN     639.58
4879  4520  运营能力指标  2017-09-30       1.18          NaN     206.79
4880  4520  运营能力指标  2016-12-31       0.86          NaN     384.74
4883  4521  运营能力指标  2018-09-30       1.31          NaN      52.87
4884  4521  运营能力指标  2018-06-30       0.89          NaN      59.64
4885  4521  运营能力指标  2017-12-31       1.58          NaN      60.08
4886  4521  运营能力指标  2017-09-30       4.10          NaN      14.72
4887  4521  运营能力指标  2017-06-30       0.78        48.30      55.52
4888  4521  运营能力指标  2016-12-31       1.76          NaN      51.26
4891  4522  运营能力指标  2018-09-30       0.57          NaN     142.10
4892  4522  运营能力指标  2018-06-30       0.38          NaN     134.48
4893  4522  运营能力指标  2017-12-31       0.79          NaN     130.61
4894  4522  运营能力指标  2017-09-30       1.09          NaN      77.23
4895  4522  运营能力指标  2016-12-31       0.84          NaN     120.23
4898  4523  运营能力指标  2018-09-30       0.35          NaN     478.40
4899  4523  运营能力指标  2018-06-30       0.25          NaN     399.11
4900  4523  运营能力指标  2017-12-31       0.52          NaN     393.47
4901  4523  运营能力指标  2017-09-30       0.74          NaN     250.94
4902  4523  运营能力指标  2017-03-31       0.09        50.29     637.14
4903  4523  运营能力指标  2016-12-31       0.58          NaN     373.87
4907  4524  运营能力指标  2018-09-30       0.67        85.11     267.21
4908  4524  运营能力指标  2018-06-30       0.51        73.35     220.63
4909  4524  运营能力指标  2017-12-31       0.75        53.12     411.26
4910  4524  运营能力指标  2017-09-30       1.25          NaN     174.22
4911  4524  运营能力指标  2016-12-31       0.99          NaN     294.96
4914  4525  运营能力指标  2018-09-30       0.67        41.11     136.69
4915  4525  运营能力指标  2018-03-31       0.22        38.84     142.02
4916  4525  运营能力指标  2017-12-31       0.82        39.45     126.97
4917  4525  运营能力指标  2017-09-30       1.29        16.61      51.28
4918  4525  运营能力指标  2016-12-31       0.71        44.64     114.51

[4652 rows x 6 columns]

In [12]:
data.sort_values(by=['企业编号','日期'],inplace=True)

In [13]:
#查看排序结果是否达到目标效果
data

      企业编号      标题          日期  总资产周转率(次)  应收账款周转天数(天)  存货周转天数(天)
8     4001  运营能力指标  2016-09-30       0.28        92.16     790.56
7     4001  运营能力指标  2016-12-31       0.40       102.91     698.40
6     4001  运营能力指标  2017-03-31       0.08       162.05     896.90
5     4001  运营能力指标  2017-06-30       0.17       138.35     799.99
4     4001  运营能力指标  2017-09-30       0.22       150.38     916.96
3     4001  运营能力指标  2017-12-31       0.39       128.86     647.43
2     4001  运营能力指标  2018-03-31       0.06       210.34    1078.28
1     4001  运营能力指标  2018-06-30       0.14       174.31     942.99
0     4001  运营能力指标  2018-09-30       0.21       180.94     907.77
17    4002  运营能力指标  2016-09-30       0.46       167.98      70.33
16    4002  运营能力指标  2016-12-31       0.53       160.88      69.61
15    4002  运营能力指标  2017-03-31       0.08       269.95      98.64
14    4002  运营能力指标  2017-06-30       0.15       298.97     121.47
13    4002  运营能力指标  2017-09-30       0.22       299.86     130.93
12    4002  运营能力指标  2017-12-31       0.44       211.02      69.50
11    4002  运营能力指标  2018-03-31       0.08       292.66      81.88
10    4002  运营能力指标  2018-06-30       0.16       303.44      99.49
9     4002  运营能力指标  2018-09-30       0.21       326.81     160.28
26    4003  运营能力指标  2016-09-30       0.73        65.92      36.30
25    4003  运营能力指标  2016-12-31       1.02        59.99      32.86
24    4003  运营能力指标  2017-03-31       0.27        64.23      38.62
23    4003  运营能力指标  2017-06-30       0.62        59.00      28.73
22    4003  运营能力指标  2017-09-30       0.97        55.77      25.83
21    4003  运营能力指标  2017-12-31       1.31        52.16      25.49
20    4003  运营能力指标  2018-03-31       0.11       132.27      63.87
19    4003  运营能力指标  2018-06-30       0.30       102.69      62.02
18    4003  运营能力指标  2018-09-30       0.59        88.82      47.46
44    4004  运营能力指标  2016-09-30       0.10        15.51       2.17
43    4004  运营能力指标  2016-12-31       0.15        12.82       1.75
42    4004  运营能力指标  2017-03-31       0.03        14.37       1.69
...    ...     ...         ...        ...          ...        ...
4878  4520  运营能力指标  2017-12-31       0.55          NaN     639.58
4877  4520  运营能力指标  2018-06-30       0.25          NaN     654.05
4876  4520  运营能力指标  2018-09-30       0.38          NaN     670.17
4888  4521  运营能力指标  2016-12-31       1.76          NaN      51.26
4887  4521  运营能力指标  2017-06-30       0.78        48.30      55.52
4886  4521  运营能力指标  2017-09-30       4.10          NaN      14.72
4885  4521  运营能力指标  2017-12-31       1.58          NaN      60.08
4884  4521  运营能力指标  2018-06-30       0.89          NaN      59.64
4883  4521  运营能力指标  2018-09-30       1.31          NaN      52.87
4895  4522  运营能力指标  2016-12-31       0.84          NaN     120.23
4894  4522  运营能力指标  2017-09-30       1.09          NaN      77.23
4893  4522  运营能力指标  2017-12-31       0.79          NaN     130.61
4892  4522  运营能力指标  2018-06-30       0.38          NaN     134.48
4891  4522  运营能力指标  2018-09-30       0.57          NaN     142.10
4903  4523  运营能力指标  2016-12-31       0.58          NaN     373.87
4902  4523  运营能力指标  2017-03-31       0.09        50.29     637.14
4901  4523  运营能力指标  2017-09-30       0.74          NaN     250.94
4900  4523  运营能力指标  2017-12-31       0.52          NaN     393.47
4899  4523  运营能力指标  2018-06-30       0.25          NaN     399.11
4898  4523  运营能力指标  2018-09-30       0.35          NaN     478.40
4911  4524  运营能力指标  2016-12-31       0.99          NaN     294.96
4910  4524  运营能力指标  2017-09-30       1.25          NaN     174.22
4909  4524  运营能力指标  2017-12-31       0.75        53.12     411.26
4908  4524  运营能力指标  2018-06-30       0.51        73.35     220.63
4907  4524  运营能力指标  2018-09-30       0.67        85.11     267.21
4918  4525  运营能力指标  2016-12-31       0.71        44.64     114.51
4917  4525  运营能力指标  2017-09-30       1.29        16.61      51.28
4916  4525  运营能力指标  2017-12-31       0.82        39.45     126.97
4915  4525  运营能力指标  2018-03-31       0.22        38.84     142.02
4914  4525  运营能力指标  2018-09-30       0.67        41.11     136.69

[4652 rows x 6 columns]

In [14]:
data=data.set_index(['企业编号','日期'])
data=data.unstack().reset_index().set_index('企业编号').T.drop('标题')

In [15]:
data=data.reindex(columns=list(range(4001,4526)))
data.to_pickle('上市信息财务信息运营能力指标-testing.pickle')
data

企业编号                       4001    4002    4003   4004     4005    4006  \
            日期
总资产周转率(次)   2016-09-30     0.28    0.46    0.73    0.1     0.14    0.26
            2016-12-31      0.4    0.53    1.02   0.15     0.22    0.37
            2017-03-31     0.08    0.08    0.27   0.03     0.02    0.13
            2017-06-30     0.17    0.15    0.62   0.08     0.04    0.29
            2017-09-30     0.22    0.22    0.97   0.12     0.06    0.43
            2017-12-31     0.39    0.44    1.31   0.17     0.07    0.61
            2018-03-31     0.06    0.08    0.11   0.04     0.02    0.16
            2018-06-30     0.14    0.16     0.3   0.09     0.03    0.37
            2018-09-30     0.21    0.21    0.59   0.14     0.04    0.55
应收账款周转天数(天) 2016-09-30    92.16  167.98   65.92  15.51   363.52  137.25
            2016-12-31   102.91  160.88   59.99  12.82   324.65  144.53
            2017-03-31   162.05  269.95   64.23  14.37  1101.22  122.31
            2017-06-30   138.35  298.97      59  16.06   920.77  112.82
            2017-09-30   150.38  299.86   55.77  16.54   963.04  119.01
            2017-12-31   128.86  211.02   52.16  13.18  1005.95  102.17
            2018-03-31   210.34  292.66  132.27  18.72  1201.33   92.64
            2018-06-30   174.31  303.44  102.69  19.22  1345.97   88.09
            2018-09-30   180.94  326.81   88.82  19.23  1393.83   81.51
存货周转天数(天)   2016-09-30   790.56   70.33    36.3   2.17   463.97  158.91
            2016-12-31    698.4   69.61   32.86   1.75   329.91  161.27
            2017-03-31    896.9   98.64   38.62   1.69   561.99  117.16
            2017-06-30   799.99  121.47   28.73   1.73    506.6  108.13
            2017-09-30   916.96  130.93   25.83   1.78   554.13  124.09
            2017-12-31   647.43    69.5   25.49   1.57   597.33   126.5
            2018-03-31  1078.28   81.88   63.87   1.55   772.57  126.58
            2018-06-30   942.99   99.49   62.02   1.45   861.54  123.79
            2018-09-30   907.77  160.28   47.46   1.53   904.24  125.95

企业编号                     4007    4008    4009    4010   ...      4516    4517  \
            日期                                          ...
总资产周转率(次)   2016-09-30   0.56    0.27    0.72     0.3   ...       NaN     NaN
            2016-12-31   0.75     0.4       1    0.49   ...      1.12    0.73
            2017-03-31   0.17    0.11    0.19    0.08   ...       NaN     NaN
            2017-06-30   0.35    0.21    0.46    0.18   ...      1.71    0.31
            2017-09-30   0.57    0.33    0.72    0.32   ...      2.52    1.04
            2017-12-31   0.77    0.45    1.02    0.47   ...      1.48    0.69
            2018-03-31   0.19    0.16    0.18    0.08   ...       NaN     NaN
            2018-06-30    0.4    0.29    0.35    0.19   ...      0.51    0.42
            2018-09-30   0.63    0.41    0.53    0.32   ...      0.72    0.61
应收账款周转天数(天) 2016-09-30  33.73   98.52   112.1  129.34   ...       NaN     NaN
            2016-12-31  28.64   84.14  114.29  107.13   ...     43.38     NaN
            2017-03-31  35.51   61.83  129.19  169.21   ...       NaN     NaN
            2017-06-30  34.72   71.71  116.11  143.94   ...      8.82   85.25
            2017-09-30   33.9   64.01  109.83  138.53   ...      8.98     NaN
            2017-12-31  28.64   61.61   87.11  126.89   ...     17.85     NaN
            2018-03-31  33.71   45.51   98.49  207.83   ...       NaN     NaN
            2018-06-30  33.16   43.28   99.15   188.9   ...     26.77     NaN
            2018-09-30   34.5   45.78  102.37  177.58   ...     36.26   60.64
存货周转天数(天)   2016-09-30  69.12   410.6   74.28  173.38   ...       NaN     NaN
            2016-12-31  74.67  348.35   75.61  135.88   ...    121.41  165.64
            2017-03-31  97.48  276.26    85.1  201.01   ...       NaN     NaN
            2017-06-30  88.95  334.37   69.27  184.67   ...     47.07  216.09
            2017-09-30  83.18  329.61   70.06  162.94   ...     49.18   90.88
            2017-12-31  78.22  296.15   62.41   152.3   ...    112.63  180.82
            2018-03-31  83.33  210.48    72.5  272.88   ...       NaN     NaN
            2018-06-30  79.65  253.67   72.36  248.48   ...    101.63     131
            2018-09-30  84.89  259.15   72.69  240.14   ...    113.95  138.96

企业编号                     4518    4519    4520   4521    4522    4523    4524  \
            日期
总资产周转率(次)   2016-09-30    NaN     NaN     NaN    NaN     NaN     NaN     NaN
            2016-12-31   1.21     0.8    0.86   1.76    0.84    0.58    0.99
            2017-03-31    NaN     0.1     NaN    NaN     NaN    0.09     NaN
            2017-06-30   0.47    0.18     NaN   0.78     NaN     NaN     NaN
            2017-09-30   1.64    0.84    1.18    4.1    1.09    0.74    1.25
            2017-12-31   1.24    0.51    0.55   1.58    0.79    0.52    0.75
            2018-03-31    NaN    0.08     NaN    NaN     NaN     NaN     NaN
            2018-06-30   0.47    0.18    0.25   0.89    0.38    0.25    0.51
            2018-09-30   0.64    0.34    0.38   1.31    0.57    0.35    0.67
应收账款周转天数(天) 2016-09-30    NaN     NaN     NaN    NaN     NaN     NaN     NaN
            2016-12-31  18.65  117.46     NaN    NaN     NaN     NaN     NaN
            2017-03-31    NaN  226.36     NaN    NaN     NaN   50.29     NaN
            2017-06-30  32.52  190.46     NaN   48.3     NaN     NaN     NaN
            2017-09-30  13.09    82.5     NaN    NaN     NaN     NaN     NaN
            2017-12-31  26.78  128.13     NaN    NaN     NaN     NaN   53.12
            2018-03-31    NaN   165.3     NaN    NaN     NaN     NaN     NaN
            2018-06-30  37.44  148.54     NaN    NaN     NaN     NaN   73.35
            2018-09-30  36.49   118.3     NaN    NaN     NaN     NaN   85.11
存货周转天数(天)   2016-09-30    NaN     NaN     NaN    NaN     NaN     NaN     NaN
            2016-12-31  80.43    51.6  384.74  51.26  120.23  373.87  294.96
            2017-03-31    NaN   67.59     NaN    NaN     NaN  637.14     NaN
            2017-06-30  96.46  121.57     NaN  55.52     NaN     NaN     NaN
            2017-09-30  39.89   23.85  206.79  14.72   77.23  250.94  174.22
            2017-12-31  67.92    67.5  639.58  60.08  130.61  393.47  411.26
            2018-03-31    NaN  135.79     NaN    NaN     NaN     NaN     NaN
            2018-06-30  98.44  116.67  654.05  59.64  134.48  399.11  220.63
            2018-09-30   98.1   89.36  670.17  52.87   142.1   478.4  267.21

企业编号                      4525
            日期
总资产周转率(次)   2016-09-30     NaN
            2016-12-31    0.71
            2017-03-31     NaN
            2017-06-30     NaN
            2017-09-30    1.29
            2017-12-31    0.82
            2018-03-31    0.22
            2018-06-30     NaN
            2018-09-30    0.67
应收账款周转天数(天) 2016-09-30     NaN
            2016-12-31   44.64
            2017-03-31     NaN
            2017-06-30     NaN
            2017-09-30   16.61
            2017-12-31   39.45
            2018-03-31   38.84
            2018-06-30     NaN
            2018-09-30   41.11
存货周转天数(天)   2016-09-30     NaN
            2016-12-31  114.51
            2017-03-31     NaN
            2017-06-30     NaN
            2017-09-30   51.28
            2017-12-31  126.97
            2018-03-31  142.02
            2018-06-30     NaN
            2018-09-30  136.69

[27 rows x 525 columns]

In [16]:
data.index

MultiIndex(levels=[['标题', '总资产周转率(次)', '应收账款周转天数(天)', '存货周转天数(天)', '企业编号'], ['2016-09-30', '2016-12-31', '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30', '']],
           labels=[[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3], [0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8]],
           names=[None, '日期'])