In [2]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime
import glob

In [3]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [4]:
%matplotlib notebook

In [6]:
def to_number(cell):
    if isinstance(cell, tuple):
        return True
    return False


lst = []
for i in glob.glob('*.pickle'):
    if i != '企业评分.pickle' and i != '串联.pickle':
        lst.append(pd.read_pickle(i))
        if lst[-1].applymap(to_number).any().any():
            print(i)
#     print(i, lst[-1].shape, sep='\t')
# lst

In [17]:
concatenate = pd.concat(lst)
concatenate

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
时间,-2704.97,NaN,-2820,-1131,-501,NaN,-2238.75,-2137.56,-2432.88,-2645.4,...,-2399,NaN,-3258.67,-2721,-2883,NaN,NaN,-2714,-2502,-1988
土地用途_05,3,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
土地用途_051,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
土地用途_054,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
土地用途_05、07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(认缴出资信息, 2014.0)",3.94593e+06,115000,120200,80728.3,220000,192696,1.60052e+06,721013,165861,307584,...,5457.76,43854.8,24012,4200,19500,25161.1,6,16000,2000,3000
"(认缴出资信息, 2015.0)",3.94593e+06,115000,120200,100728,241031,192696,3.25607e+06,721636,165861,398804,...,7573.52,45318.1,33616.8,4200,23400,64509.7,6,24493,26901,3000
"(认缴出资信息, 2016.0)",5.552e+06,115000,120200,100728,241031,192696,3.25607e+06,723248,165861,387858,...,7564.72,43728.5,47568.3,4200,58500,72009.9,NaN,29212.2,0,3000
"(认缴出资信息, 2017.0)",2.23221e+06,206932,120200,100728,482061,192696,1.30243e+06,7.13761e+09,165861,426897,...,87610.4,45251.7,47781.2,4200,58500,12897.2,NaN,29212.2,48422,3000
"(认缴出资信息, 2018.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df = pd.read_pickle('企业评分.pickle')
df

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3989,3990,3991,3993,3994,3996,3997,3998,3999,4000
企业总评分,75.374276,79.830122,78.318264,83.253376,83.291493,82.013621,87.675653,79.592075,78.236148,80.895705,...,85.628368,89.138134,89.026461,85.464011,91.502586,86.733076,84.795885,93.740963,88.803712,84.142749

In [19]:
concatenate = concatenate.reindex(columns=df.columns)
concatenate

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3989,3990,3991,3993,3994,3996,3997,3998,3999,4000
时间,-2704.97,NaN,-2820,-1131,-501,NaN,-2238.75,-2137.56,-2432.88,-2645.4,...,-3590,NaN,-2399,-3258.67,-2721,NaN,NaN,-2714,-2502,-1988
土地用途_05,3,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
土地用途_051,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
土地用途_054,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
土地用途_05、07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(认缴出资信息, 2014.0)",3.94593e+06,115000,120200,80728.3,220000,192696,1.60052e+06,721013,165861,307584,...,21360,5000,5457.76,24012,4200,25161.1,6,16000,2000,3000
"(认缴出资信息, 2015.0)",3.94593e+06,115000,120200,100728,241031,192696,3.25607e+06,721636,165861,398804,...,21360,5000,7573.52,33616.8,4200,64509.7,6,24493,26901,3000
"(认缴出资信息, 2016.0)",5.552e+06,115000,120200,100728,241031,192696,3.25607e+06,723248,165861,387858,...,21360,5000,7564.72,47568.3,4200,72009.9,NaN,29212.2,0,3000
"(认缴出资信息, 2017.0)",2.23221e+06,206932,120200,100728,482061,192696,1.30243e+06,7.13761e+09,165861,426897,...,26065.1,5000,87610.4,47781.2,4200,12897.2,NaN,29212.2,48422,3000
"(认缴出资信息, 2018.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
concatenate.to_pickle('串联.pickle')