In [9]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime
import glob

In [10]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [11]:
%matplotlib notebook

In [12]:
def to_number(cell):
    if isinstance(cell, tuple):
        return True
    return False

lst = []
for i in glob.glob('*.pickle'):
    if i != '企业评分.pickle' and i != '串联.pickle' and 'testing' not in i:
        lst.append(pd.read_pickle(i))
        if lst[-1].applymap(to_number).any().any():
            print(i)
#     print(i, lst[-1].shape, sep='\t')
# lst

In [13]:
concatenate = pd.concat(lst)
concatenate

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
纳税人资格_一般纳税人,0,0,NaN,1,1,0,NaN,1,0,1,...,NaN,NaN,1,NaN,NaN,NaN,NaN,0,NaN,0
纳税人资格_其他,0,0,NaN,0,0,0,NaN,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,0
纳税人资格_内资企业采购国产设备,0,0,NaN,0,0,0,NaN,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,0
纳税人资格_出口退（免）税企业,0,0,NaN,0,0,0,NaN,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,0
纳税人资格_增值税一般纳税人,0,1,NaN,0,0,1,NaN,0,0,0,...,NaN,NaN,0,NaN,NaN,NaN,NaN,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
企业规模_500-2000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_5000-10000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
运营状态_融资中,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
运营状态_运营中,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
项目成立时间,-9633,-6741,-7167,-7811,-7126,-7692,-7189,NaN,-8856,-9638,...,-5474,-6269,-6045,-7151,-8616,-7756,-7665,-6858,-5244,-6411

In [14]:
df = pd.read_pickle('企业评分.pickle')
df

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3989,3990,3991,3993,3994,3996,3997,3998,3999,4000
企业总评分,75.374276,79.830122,78.318264,83.253376,83.291493,82.013621,87.675653,79.592075,78.236148,80.895705,...,85.628368,89.138134,89.026461,85.464011,91.502586,86.733076,84.795885,93.740963,88.803712,84.142749

In [15]:
concatenate = concatenate.reindex(columns=df.columns)
concatenate

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3989,3990,3991,3993,3994,3996,3997,3998,3999,4000
纳税人资格_一般纳税人,0,0,NaN,1,1,0,NaN,1,0,1,...,1,0,NaN,1,NaN,NaN,NaN,0,NaN,0
纳税人资格_其他,0,0,NaN,0,0,0,NaN,0,0,0,...,0,0,NaN,0,NaN,NaN,NaN,0,NaN,0
纳税人资格_内资企业采购国产设备,0,0,NaN,0,0,0,NaN,0,0,0,...,0,0,NaN,0,NaN,NaN,NaN,0,NaN,0
纳税人资格_出口退（免）税企业,0,0,NaN,0,0,0,NaN,0,0,0,...,0,0,NaN,0,NaN,NaN,NaN,0,NaN,0
纳税人资格_增值税一般纳税人,0,1,NaN,0,0,1,NaN,0,0,0,...,0,1,NaN,0,NaN,NaN,NaN,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
企业规模_500-2000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_5000-10000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
运营状态_融资中,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
运营状态_运营中,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
项目成立时间,-9633,-6741,-7167,-7811,-7126,-7692,-7189,NaN,-8856,-9638,...,-7166,-5097,-5474,-6045,-7151,-7756,-7665,-6858,-5244,-6411

In [16]:
concatenate.to_pickle('串联.pickle')