# 读取数据

In [1]:
import pandas as pd
data=pd.read_excel("赛题1数据材料/赛题1数据集/产品.xlsx",index_col="企业编号")
data['产品类型数量']=1
data.head(10)

         产品类型  产品类型数量
企业编号
1001  android       1
1001  android       1
1001  android       1
1001  android       1
1001      ios       1
1001      ios       1
1001      ios       1
1001      ios       1
1001      ios       1
1001      ios       1

In [3]:
fenzu=data.groupby(['企业编号','产品类型'])
result_1=fenzu.sum().unstack().fillna(0).T
result_1 = result_1.reindex(columns=list(range(1001, 4001))).fillna(0)

企业编号            1001  1002  1003  1004  1005  1006  1007  1008  1009  1010  \
       产品类型
产品类型数量 android   4.0   1.0   0.0   2.0   0.0   1.0   0.0   0.0   0.0   5.0
       ios      10.0   6.0   0.0   2.0   0.0   2.0   0.0   0.0   0.0   9.0
       miniapp   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
       website  10.0   4.0   1.0   6.0   0.0   1.0   1.0   0.0   3.0   3.0
       wechat    0.0   1.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
       weibo     0.0   1.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

企业编号            ...   3991  3992  3993  3994  3995  3996  3997  3998  3999  \
       产品类型     ...
产品类型数量 android  ...    0.0   2.0   0.0   1.0   1.0   0.0   0.0   4.0   0.0
       ios      ...    0.0   4.0   0.0   0.0   7.0   0.0   0.0   1.0   0.0
       miniapp  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
       website  ...    0.0   1.0   2.0   1.0   1.0   1.0   1.0   3.0   1.0
       wechat   ...    0.0   0.0   0.0   1.0   0.0   1.0   0.0   1.0   0.0
       weibo    ...    0.0   0.0   0.0   0.0   1.0   0.0   0.0   1.0   0.0

企业编号            4000
       产品类型
产品类型数量 android   0.0
       ios       1.0
       miniapp   0.0
       website   1.0
       wechat    0.0
       weibo     0.0

[6 rows x 3000 columns]