# 读取数据

In [1]:
import pandas as pd
data=pd.read_excel("赛题1数据材料/赛题1数据集/产品.xlsx",index_col="企业编号")
data['产品类型数量']=1
data.head(10)

         产品类型  产品类型数量
企业编号
1001  android       1
1001  android       1
1001  android       1
1001  android       1
1001      ios       1
1001      ios       1
1001      ios       1
1001      ios       1
1001      ios       1
1001      ios       1

In [2]:
fenzu=data.groupby(['企业编号','产品类型'])
result_1=fenzu.sum().unstack().fillna(0).T
result_1 = result_1.reindex(columns=list(range(1001, 4001))).fillna(0)

In [3]:
result_1.to_pickle('产品.pickle')