In [8]:
import pandas as pd
data=pd.read_excel("产品.xlsx",index_col="企业编号")
data['产品类型数量']=1
data.head(10)

         产品类型  产品类型数量
企业编号
4001  android       1
4001  android       1
4001  android       1
4001      ios       1
4001  website       1
4001  website       1
4002  website       1
4003  website       1
4004  website       1
4004  website       1

In [12]:
fenzu=data.groupby(['企业编号','产品类型'])
result_1=fenzu.sum().unstack().fillna(0).T
result_1 = result_1.reindex(columns=list(range(4001, 4526))).fillna(0)
result_1

企业编号            4001  4002  4003  4004  4005  4006  4007  4008  4009  4010  \
       产品类型
产品类型数量 android   3.0   0.0   0.0   0.0   2.0   0.0   0.0   0.0   0.0   0.0
       ios       1.0   0.0   0.0   0.0   2.0   0.0   0.0   0.0   0.0   0.0
       website   2.0   1.0   2.0   2.0   5.0   1.0   1.0   9.0   0.0   1.0
       wechat    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0
       weibo     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

企业编号            ...   4516  4517  4518  4519  4520  4521  4522  4523  4524  \
       产品类型     ...
产品类型数量 android  ...    0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
       ios      ...    0.0   0.0   2.0   0.0   0.0   0.0   0.0   0.0   0.0
       website  ...    1.0   1.0   2.0   2.0   1.0   1.0   1.0   1.0   1.0
       wechat   ...    1.0   0.0   1.0   1.0   1.0   0.0   1.0   1.0   1.0
       weibo    ...    1.0   0.0   1.0   1.0   0.0   0.0   1.0   0.0   0.0

企业编号            4525
       产品类型
产品类型数量 android   6.0
       ios      12.0
       website   2.0
       wechat    0.0
       weibo     1.0

[5 rows x 525 columns]

In [13]:
result_1.to_pickle('产品testing.pickle')