# 读取数据

In [5]:
import pandas as pd
data=pd.read_excel("赛题1数据材料/赛题1数据集/产品.xlsx",index_col="企业编号")
data.head(10)

         产品类型
企业编号
1001  android
1001  android
1001  android
1001  android
1001      ios
1001      ios
1001      ios
1001      ios
1001      ios
1001      ios

In [14]:
fenzu=pd.get_dummies(data["产品类型"],prefix="产品类型").groupby('企业编号').sum().T.reindex(columns=list(range(1001, 4001))).fillna(0)
#result_1=fenzu.sum().unstack().fillna(0).T
#result_1 = result_1.reindex(columns=list(range(1001, 4001))).fillna(0)
fenzu

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
产品类型_android,4,1,0,2,0.0,1,0,0.0,0,5,...,0.0,2,0,1,1,0,0,4,0,0
产品类型_ios,10,6,0,2,0.0,2,0,0.0,0,9,...,0.0,4,0,0,7,0,0,1,0,1
产品类型_miniapp,0,0,0,0,0.0,0,0,0.0,0,0,...,0.0,0,0,0,0,0,0,0,0,0
产品类型_website,10,4,1,6,0.0,1,1,0.0,3,3,...,0.0,1,2,1,1,1,1,3,1,1
产品类型_wechat,0,1,1,0,0.0,0,0,0.0,0,0,...,0.0,0,0,1,0,1,0,1,0,0
产品类型_weibo,0,1,1,0,0.0,0,0,0.0,0,0,...,0.0,0,0,0,1,0,0,1,0,0

In [15]:
result_1.to_pickle('产品.pickle')