In [1]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

In [2]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [3]:
%matplotlib notebook

In [4]:
df = pd.read_excel('赛题1数据材料/赛题1数据集/企业评分.xlsx', index_col='企业编号').drop_duplicates().T
df.to_pickle('企业评分.pickle')
df

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3989,3990,3991,3993,3994,3996,3997,3998,3999,4000
企业总评分,75.374276,79.830122,78.318264,83.253376,83.291493,82.013621,87.675653,79.592075,78.236148,80.895705,...,85.628368,89.138134,89.026461,85.464011,91.502586,86.733076,84.795885,93.740963,88.803712,84.142749