In [8]:
import pandas as pd
from IPython.display import display
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime



data=pd.read_excel("赛题1数据材料\赛题1数据集\商标.xlsx",index_col='企业编号')
data

        商标状态        申请日期  专用权期限开始日期   专用权期限结束日期              商标使用期限时间段
企业编号
1001    评审分案  2015-12-28        NaN         NaN                      至
1001      注册  2016-07-28        NaN         NaN                      至
1001  商标变更完成  2005-07-25        NaN  2019-02-27  2009-02-28至2019-02-27
1001  商标变更完成  2007-01-18        NaN  2020-05-13  2010-05-14至2020-05-13
1001   商标已注册  2012-06-11        NaN  2023-12-06  2013-12-07至2023-12-06
...      ...         ...        ...         ...                    ...
4000   商标已注册  2011-05-23        NaN  2022-07-06  2012-07-07至2022-07-06
4000   商标已注册  2012-02-17        NaN  2024-03-13  2014-03-14至2024-03-13
4000  商标续展完成  2003-04-10        NaN  2024-11-13  2014-11-14至2024-11-13
4000   商标已注册  2006-08-02        NaN  2019-11-20  2009-11-21至2019-11-20
4000      注册  2016-01-18        NaN  2027-02-27  2017-02-28至2027-02-27

[345417 rows x 5 columns]

In [9]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [10]:
data["商标状态"].value_counts()#状态过多，忽略

商标已注册                       45235
等待受理通知书发文                   38770
注册                          35809
商标无效                        30956
商标注册申请完成                    22107
                            ...
驳回复审排版送达公告(商标注册证)               1
答辩书收文                           1
补证明发文                           1
商标注册申请等待受理通知书发文                 1
撤销注册商标复审有退信(商标撤销复审答辩通知书)        1
Name: 商标状态, Length: 251, dtype: int64

In [14]:
def to_day(cell):
    if not isinstance(cell, str):
        return cell
    return (dateutil.parser.parse(cell) - datetime.datetime(2019, 3, 5)).days

df1 = data[['申请日期']].applymap(to_day).groupby('企业编号').mean().T
df1 = df1.reindex(columns=list(range(1001, 4001)))
df1

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
申请日期,-1505.366812,-2403.518248,-4176.203593,-390.953704,-3949.0,-5011.8,-4371.230769,-7838.979167,-8092.0,-2010.469474,...,-2826.129032,-3101.454545,-2186.235955,-3747.405797,-2301.245902,-3097.598039,-3658.5,-2558.633136,-4062.0,-2505.955556