In [25]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

In [26]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [27]:
df = pd.read_excel('赛题1数据材料/赛题1数据集/工商基本信息表.xlsx', index_col='企业编号')
df

,注册资本（万元）,注册资本币种(正则),成立日期,经营状态,行业大类（代码）,行业小类（代码）,类型,省份代码,城市代码,地区代码,是否上市,经营期限自,经营期限至,登记机关区域代码,发照日期,员工人数,注销原因,注销时间
企业编号,,,,,,,,,,,,,,,,,,
1001,746.138857,人民币,1992-10-19,存续（在营、开业、在册）,J,66,民营,31,3100,310000,Y,1992-10-19,NaN,310100.0,1992-10-19,19.0,NaN,NaN
1002,82.772800,人民币,2000-09-19,在营（开业）企业,O,80,民营,44,4400,440000,Y,2000-09-19,NaN,440000.0,2017-12-21,12.0,NaN,NaN
1003,80.000000,人民币,1999-07-21,存续（在营、开业、在册）,C,36,民营,42,4200,420000,Y,1999-07-21,NaN,420000.0,2018-10-22,11.0,NaN,NaN
1004,40.291301,人民币,1997-10-15,开业,F,52,民营,11,1101,110105,Y,1997-10-15,NaN,100000.0,2019-02-19,15.0,NaN,NaN
1005,227.417928,人民币,1999-08-31,开业,L,72,民营,11,1101,110102,Y,1999-08-31,NaN,110100.0,2019-01-31,15.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,61.913480,人民币,1997-12-09,存续（在营、开业、在册）,C,38,民营,44,4403,440300,Y,1997-12-09,NaN,440306.0,2018-11-27,9.0,NaN,NaN
3997,30.621000,-,1998-03-10,在营（开业）企业,L,72,民营,37,3702,370200,Y,1998-03-10,NaN,370200.0,2019-02-02,14.0,NaN,NaN
3998,11.626270,人民币,2000-05-25,存续（在营、开业、在册）,I,65,民营,32,3200,320000,Y,2000-05-25,NaN,320000.0,2018-07-11,10.0,NaN,NaN
3999,19.368798,人民币,2004-10-25,存续（在营、开业、在册）,C,37,民营,21,2103,210300,Y,2004-10-25,2054-10-24,210300.0,2017-06-28,12.0,NaN,NaN
4000,12.107039,人民币,2001-08-15,存续（在营、开业、在册）,C,39,民营,32,3205,320500,Y,2001-08-15,NaN,320500.0,2016-08-16,10.0,NaN,NaN

## 筛选数据

In [28]:
registered_capital_currency_regular = pd.get_dummies(df['注册资本币种(正则)'].replace('-', None), prefix='注册资本币种(正则)').groupby('企业编号').mean().T
registered_capital_currency_regular = registered_capital_currency_regular.reindex(columns=list(range(1001, 4001))).fillna(0)
registered_capital_currency_regular

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
注册资本币种(正则)_人民币,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
注册资本币种(正则)_美元,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
date_of_establishment =

In [2]:
df=data.iloc[[0,5,6,7,10,15],:]
df

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
注册资本（万元）,746.139,82.7728,80,40.2913,227.418,77.0783,1823.4,608.015,66.3444,512.907,...,21.9802,18.1007,19.0682,17.2022,23.4,61.9135,30.621,11.6263,19.3688,12.107
行业小类（代码）,66,80,36,52,72,56,25,44,54,66,...,72,39,27,39,51,38,72,65,37,39
类型,民营,民营,民营,民营,民营,民营,民营,外企,外企,民营,...,民营,民营,民营,民营,民营,民营,民营,民营,民营,民营
省份代码,31,44,42,11,11,31,15,11,34,11,...,21,33,11,42,44,44,37,32,21,32
是否上市,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
员工人数,19,12,11,15,15,14,63,22,12,29,...,13,10,13,12,11,9,14,10,12,10

In [3]:
dummy_leixin=pd.get_dummies(df.iloc[2][:])
dummy_shangshi=pd.get_dummies(df.iloc[4][:])
result=df.append(dummy_leixin.T).append(dummy_shangshi.T)
result_2=result.drop(index=["类型","是否上市"])
result_2

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
注册资本（万元）,746.139,82.7728,80,40.2913,227.418,77.0783,1823.4,608.015,66.3444,512.907,...,21.9802,18.1007,19.0682,17.2022,23.4,61.9135,30.621,11.6263,19.3688,12.107
行业小类（代码）,66,80,36,52,72,56,25,44,54,66,...,72,39,27,39,51,38,72,65,37,39
省份代码,31,44,42,11,11,31,15,11,34,11,...,21,33,11,42,44,44,37,32,21,32
员工人数,19,12,11,15,15,14,63,22,12,29,...,13,10,13,12,11,9,14,10,12,10
外企,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
民营,1,1,1,1,1,1,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
N,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Y,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1