In [16]:
import pandas as pd
import numpy as np
data=pd.read_excel("赛题1数据材料\赛题1数据集\年报-股东股权转让.xlsx")
data

      企业编号 变更前股权比例 变更后股权比例      股权变更日期    年报年份
0     1001  16.93%  19.53%  2016-03-18  2016.0
1     1001   6.27%   6.01%  2017-09-04  2017.0
2     1001   4.97%   4.75%  2017-09-04  2017.0
3     1001   1.42%   1.36%  2017-09-04  2017.0
4     1001  19.53%  21.57%  2017-09-04  2017.0
5     1001   9.89%   9.47%  2017-09-04  2017.0
6     1001   2.77%   4.15%  2017-09-04  2017.0
7     1001   3.15%   3.02%  2017-09-04  2017.0
8     1001  18.98%  18.18%  2017-09-04  2017.0
9     1001   1.92%   3.22%  2017-09-04  2017.0
10    1001   4.52%   4.33%  2017-09-04  2017.0
11    1002   61.96   51.05  2017-06-06  2017.0
12    1003     NaN     NaN         NaN  2016.0
13    1008     NaN     NaN         NaN  2016.0
14    1008     NaN     NaN         NaN  2016.0
15    1008     NaN     NaN         NaN  2016.0
16    1011     NaN     NaN         NaN  2014.0
17    1011     NaN     NaN         NaN  2014.0
18    1011     NaN     NaN         NaN  2014.0
19    1011     NaN     NaN         NaN  2013.0
20    1011     NaN     NaN         NaN  2013.0
21    1011     NaN     NaN         NaN  2013.0
22    1011     NaN     NaN         NaN  2015.0
23    1011     NaN     NaN         NaN  2015.0
24    1011     NaN     NaN         NaN  2015.0
25    1013   19.86    4.86  2017-12-26  2017.0
26    1013   24.04   25.15  2017-04-27  2017.0
27    1020  41.27%  38.34%  2015-07-10  2015.0
28    1020  46.36%   42.2%  2014-12-01  2014.0
29    1020    0.0%   4.17%  2014-12-01  2014.0
...    ...     ...     ...         ...     ...
6825  3984      0%    6.63  2014-05-21  2014.0
6826  3984   48.58   31.82  2014-11-07  2014.0
6827  3984    1.77    1.04  2014-05-22  2014.0
6828  3984    1.04   0.582  2015-05-21  2015.0
6829  3984   0.582      0%  2017-07-31  2016.0
6830  3984   32.16   25.02  2017-04-20  2017.0
6831  3987    8.61    8.66  2014-12-31  2014.0
6832  3987   16.14   16.24  2014-12-31  2014.0
6833  3987    6.52    6.56  2014-12-31  2014.0
6834  3987   52.59    52.3  2014-12-31  2014.0
6835  3987   16.14   16.24  2014-12-31  2014.0
6836  3987    9.58    8.61  2013-12-31  2013.0
6837  3987   51.53   52.59  2013-12-31  2013.0
6838  3987    6.54    6.52  2013-12-31  2013.0
6839  3987      0%   16.14  2013-12-31  2013.0
6840  3987   32.35   16.14  2013-12-31  2013.0
6841  3988     NaN     NaN         NaN  2017.0
6842  3988     NaN     NaN         NaN  2017.0
6843  3992     NaN     NaN         NaN  2015.0
6844  3992     NaN     NaN         NaN  2015.0
6845  3992     NaN     NaN         NaN  2015.0
6846  3993     NaN     NaN         NaN  2013.0
6847  3993     NaN     NaN         NaN  2013.0
6848  3997   48.43   66.87  2013-04-02  2013.0
6849  3997   51.57   33.13  2013-04-02  2013.0
6850  3997  48.43%  66.87%  2013-04-02  2014.0
6851  3997  51.57%  33.13%  2013-04-02  2014.0
6852  3997  48.43%  66.87%  2013-04-02  2015.0
6853  3997  51.57%  33.13%  2013-04-02  2015.0
6854  4000      0%     .8%  2016-09-30  2016.0

[6855 rows x 5 columns]

In [56]:
df=data.dropna().reset_index().drop(columns="index")
df

      企业编号 变更前股权比例 变更后股权比例      股权变更日期    年报年份
0     1001  16.93%  19.53%  2016-03-18  2016.0
1     1001   6.27%   6.01%  2017-09-04  2017.0
2     1001   4.97%   4.75%  2017-09-04  2017.0
3     1001   1.42%   1.36%  2017-09-04  2017.0
4     1001  19.53%  21.57%  2017-09-04  2017.0
5     1001   9.89%   9.47%  2017-09-04  2017.0
6     1001   2.77%   4.15%  2017-09-04  2017.0
7     1001   3.15%   3.02%  2017-09-04  2017.0
8     1001  18.98%  18.18%  2017-09-04  2017.0
9     1001   1.92%   3.22%  2017-09-04  2017.0
10    1001   4.52%   4.33%  2017-09-04  2017.0
11    1002   61.96   51.05  2017-06-06  2017.0
12    1013   19.86    4.86  2017-12-26  2017.0
13    1013   24.04   25.15  2017-04-27  2017.0
14    1020  41.27%  38.34%  2015-07-10  2015.0
15    1020  46.36%   42.2%  2014-12-01  2014.0
16    1020    0.0%   4.17%  2014-12-01  2014.0
17    1021  80.59%   80.5%  2014-10-11  2013.0
18    1021  19.41%   19.5%  2014-10-11  2013.0
19    1021   19.41    19.5  2014-10-11  2014.0
20    1021   80.59    80.5  2014-10-11  2014.0
21    1021    80.5   82.59  2015-09-09  2015.0
22    1021    19.5   17.41  2015-09-09  2015.0
23    1023   41.14   40.04  2018-03-01  2017.0
24    1023   30.39   29.57  2018-03-01  2017.0
25    1023   28.47   30.39  2018-03-01  2017.0
26    1044      0%      0%  2015-05-21  2015.0
27    1054   34.0%  29.21%  2014-12-31  2014.0
28    1054   40.0%    6.0%  2013-05-28  2013.0
29    1054    0.0%   34.0%  2013-05-28  2013.0
...    ...     ...     ...         ...     ...
4954  3981   13.61   12.62  2014-10-29  2014.0
4955  3981   11.67    10.2  2014-11-06  2014.0
4956  3982   71.09   86.85  2017-12-31  2017.0
4957  3982   28.91   13.15  2017-12-31  2017.0
4958  3984      0%    1.77  2013-05-21  2013.0
4959  3984      0%    3.82  2014-05-21  2014.0
4960  3984      0%    0.25  2014-05-21  2014.0
4961  3984      0%    6.63  2014-05-21  2014.0
4962  3984   48.58   31.82  2014-11-07  2014.0
4963  3984    1.77    1.04  2014-05-22  2014.0
4964  3984    1.04   0.582  2015-05-21  2015.0
4965  3984   0.582      0%  2017-07-31  2016.0
4966  3984   32.16   25.02  2017-04-20  2017.0
4967  3987    8.61    8.66  2014-12-31  2014.0
4968  3987   16.14   16.24  2014-12-31  2014.0
4969  3987    6.52    6.56  2014-12-31  2014.0
4970  3987   52.59    52.3  2014-12-31  2014.0
4971  3987   16.14   16.24  2014-12-31  2014.0
4972  3987    9.58    8.61  2013-12-31  2013.0
4973  3987   51.53   52.59  2013-12-31  2013.0
4974  3987    6.54    6.52  2013-12-31  2013.0
4975  3987      0%   16.14  2013-12-31  2013.0
4976  3987   32.35   16.14  2013-12-31  2013.0
4977  3997   48.43   66.87  2013-04-02  2013.0
4978  3997   51.57   33.13  2013-04-02  2013.0
4979  3997  48.43%  66.87%  2013-04-02  2014.0
4980  3997  51.57%  33.13%  2013-04-02  2014.0
4981  3997  48.43%  66.87%  2013-04-02  2015.0
4982  3997  51.57%  33.13%  2013-04-02  2015.0
4983  4000      0%     .8%  2016-09-30  2016.0

[4984 rows x 5 columns]

In [57]:
for i in range(len(df)):
    if ( type(df.iloc[i,1])!=np.float):
        if (df.iloc[i,1][-1]=="%"or df.iloc[i,2][-1]=="%"):
            df.iloc[i,1]=float(df.iloc[i,1][:-1])
            df.iloc[i,2]=float(df.iloc[i,2][:-1])
        else:
            df.iloc[i,1]=float(df.iloc[i,1])
            df.iloc[i,2]=float(df.iloc[i,2])
df

      企业编号 变更前股权比例 变更后股权比例      股权变更日期    年报年份
0     1001   16.93   19.53  2016-03-18  2016.0
1     1001    6.27    6.01  2017-09-04  2017.0
2     1001    4.97    4.75  2017-09-04  2017.0
3     1001    1.42    1.36  2017-09-04  2017.0
4     1001   19.53   21.57  2017-09-04  2017.0
5     1001    9.89    9.47  2017-09-04  2017.0
6     1001    2.77    4.15  2017-09-04  2017.0
7     1001    3.15    3.02  2017-09-04  2017.0
8     1001   18.98   18.18  2017-09-04  2017.0
9     1001    1.92    3.22  2017-09-04  2017.0
10    1001    4.52    4.33  2017-09-04  2017.0
11    1002   61.96   51.05  2017-06-06  2017.0
12    1013   19.86    4.86  2017-12-26  2017.0
13    1013   24.04   25.15  2017-04-27  2017.0
14    1020   41.27   38.34  2015-07-10  2015.0
15    1020   46.36    42.2  2014-12-01  2014.0
16    1020       0    4.17  2014-12-01  2014.0
17    1021   80.59    80.5  2014-10-11  2013.0
18    1021   19.41    19.5  2014-10-11  2013.0
19    1021   19.41    19.5  2014-10-11  2014.0
20    1021   80.59    80.5  2014-10-11  2014.0
21    1021    80.5   82.59  2015-09-09  2015.0
22    1021    19.5   17.41  2015-09-09  2015.0
23    1023   41.14   40.04  2018-03-01  2017.0
24    1023   30.39   29.57  2018-03-01  2017.0
25    1023   28.47   30.39  2018-03-01  2017.0
26    1044       0       0  2015-05-21  2015.0
27    1054      34   29.21  2014-12-31  2014.0
28    1054      40       6  2013-05-28  2013.0
29    1054       0      34  2013-05-28  2013.0
...    ...     ...     ...         ...     ...
4954  3981   13.61   12.62  2014-10-29  2014.0
4955  3981   11.67    10.2  2014-11-06  2014.0
4956  3982   71.09   86.85  2017-12-31  2017.0
4957  3982   28.91   13.15  2017-12-31  2017.0
4958  3984       0     1.7  2013-05-21  2013.0
4959  3984       0     3.8  2014-05-21  2014.0
4960  3984       0     0.2  2014-05-21  2014.0
4961  3984       0     6.6  2014-05-21  2014.0
4962  3984   48.58   31.82  2014-11-07  2014.0
4963  3984    1.77    1.04  2014-05-22  2014.0
4964  3984    1.04   0.582  2015-05-21  2015.0
4965  3984    0.58       0  2017-07-31  2016.0
4966  3984   32.16   25.02  2017-04-20  2017.0
4967  3987    8.61    8.66  2014-12-31  2014.0
4968  3987   16.14   16.24  2014-12-31  2014.0
4969  3987    6.52    6.56  2014-12-31  2014.0
4970  3987   52.59    52.3  2014-12-31  2014.0
4971  3987   16.14   16.24  2014-12-31  2014.0
4972  3987    9.58    8.61  2013-12-31  2013.0
4973  3987   51.53   52.59  2013-12-31  2013.0
4974  3987    6.54    6.52  2013-12-31  2013.0
4975  3987       0    16.1  2013-12-31  2013.0
4976  3987   32.35   16.14  2013-12-31  2013.0
4977  3997   48.43   66.87  2013-04-02  2013.0
4978  3997   51.57   33.13  2013-04-02  2013.0
4979  3997   48.43   66.87  2013-04-02  2014.0
4980  3997   51.57   33.13  2013-04-02  2014.0
4981  3997   48.43   66.87  2013-04-02  2015.0
4982  3997   51.57   33.13  2013-04-02  2015.0
4983  4000       0     0.8  2016-09-30  2016.0

[4984 rows x 5 columns]

In [59]:
df["变化比例"]=df["变更后股权比例"]-df["变更前股权比例"]
df

      企业编号 变更前股权比例 变更后股权比例      股权变更日期    年报年份   变化比例
0     1001   16.93   19.53  2016-03-18  2016.0    2.6
1     1001    6.27    6.01  2017-09-04  2017.0  -0.26
2     1001    4.97    4.75  2017-09-04  2017.0  -0.22
3     1001    1.42    1.36  2017-09-04  2017.0  -0.06
4     1001   19.53   21.57  2017-09-04  2017.0   2.04
5     1001    9.89    9.47  2017-09-04  2017.0  -0.42
6     1001    2.77    4.15  2017-09-04  2017.0   1.38
7     1001    3.15    3.02  2017-09-04  2017.0  -0.13
8     1001   18.98   18.18  2017-09-04  2017.0   -0.8
9     1001    1.92    3.22  2017-09-04  2017.0    1.3
10    1001    4.52    4.33  2017-09-04  2017.0  -0.19
11    1002   61.96   51.05  2017-06-06  2017.0 -10.91
12    1013   19.86    4.86  2017-12-26  2017.0    -15
13    1013   24.04   25.15  2017-04-27  2017.0   1.11
14    1020   41.27   38.34  2015-07-10  2015.0  -2.93
15    1020   46.36    42.2  2014-12-01  2014.0  -4.16
16    1020       0    4.17  2014-12-01  2014.0   4.17
17    1021   80.59    80.5  2014-10-11  2013.0  -0.09
18    1021   19.41    19.5  2014-10-11  2013.0   0.09
19    1021   19.41    19.5  2014-10-11  2014.0   0.09
20    1021   80.59    80.5  2014-10-11  2014.0  -0.09
21    1021    80.5   82.59  2015-09-09  2015.0   2.09
22    1021    19.5   17.41  2015-09-09  2015.0  -2.09
23    1023   41.14   40.04  2018-03-01  2017.0   -1.1
24    1023   30.39   29.57  2018-03-01  2017.0  -0.82
25    1023   28.47   30.39  2018-03-01  2017.0   1.92
26    1044       0       0  2015-05-21  2015.0      0
27    1054      34   29.21  2014-12-31  2014.0  -4.79
28    1054      40       6  2013-05-28  2013.0    -34
29    1054       0      34  2013-05-28  2013.0     34
...    ...     ...     ...         ...     ...    ...
4954  3981   13.61   12.62  2014-10-29  2014.0  -0.99
4955  3981   11.67    10.2  2014-11-06  2014.0  -1.47
4956  3982   71.09   86.85  2017-12-31  2017.0  15.76
4957  3982   28.91   13.15  2017-12-31  2017.0 -15.76
4958  3984       0     1.7  2013-05-21  2013.0    1.7
4959  3984       0     3.8  2014-05-21  2014.0    3.8
4960  3984       0     0.2  2014-05-21  2014.0    0.2
4961  3984       0     6.6  2014-05-21  2014.0    6.6
4962  3984   48.58   31.82  2014-11-07  2014.0 -16.76
4963  3984    1.77    1.04  2014-05-22  2014.0  -0.73
4964  3984    1.04   0.582  2015-05-21  2015.0 -0.458
4965  3984    0.58       0  2017-07-31  2016.0  -0.58
4966  3984   32.16   25.02  2017-04-20  2017.0  -7.14
4967  3987    8.61    8.66  2014-12-31  2014.0   0.05
4968  3987   16.14   16.24  2014-12-31  2014.0    0.1
4969  3987    6.52    6.56  2014-12-31  2014.0   0.04
4970  3987   52.59    52.3  2014-12-31  2014.0  -0.29
4971  3987   16.14   16.24  2014-12-31  2014.0    0.1
4972  3987    9.58    8.61  2013-12-31  2013.0  -0.97
4973  3987   51.53   52.59  2013-12-31  2013.0   1.06
4974  3987    6.54    6.52  2013-12-31  2013.0  -0.02
4975  3987       0    16.1  2013-12-31  2013.0   16.1
4976  3987   32.35   16.14  2013-12-31  2013.0 -16.21
4977  3997   48.43   66.87  2013-04-02  2013.0  18.44
4978  3997   51.57   33.13  2013-04-02  2013.0 -18.44
4979  3997   48.43   66.87  2013-04-02  2014.0  18.44
4980  3997   51.57   33.13  2013-04-02  2014.0 -18.44
4981  3997   48.43   66.87  2013-04-02  2015.0  18.44
4982  3997   51.57   33.13  2013-04-02  2015.0 -18.44
4983  4000       0     0.8  2016-09-30  2016.0    0.8

[4984 rows x 6 columns]

In [63]:
result_15=df.drop(columns=["股权变更日期","变更前股权比例","变更后股权比例"]).groupby(['企业编号',"年报年份"]).sum().unstack().T
result_15

企业编号         1001   1002   1013  1020          1021  1023  1044  1054  1056  \
     年报年份
变化比例 2013.0   NaN    NaN    NaN   NaN -3.552714e-15   NaN   NaN  0.00   NaN
     2014.0   NaN    NaN    NaN  0.01 -3.552714e-15   NaN   NaN -4.79  26.0
     2015.0   NaN    NaN    NaN -2.93  3.552714e-15   NaN   0.0   NaN   NaN
     2016.0  2.60    NaN    NaN   NaN           NaN   NaN   NaN   NaN   NaN
     2017.0  2.64 -10.91 -13.89   NaN           NaN   0.0   NaN   NaN   NaN

企业编号         1058  ...           3966          3968  3970  3973  3981  \
     年报年份          ...
变化比例 2013.0 -12.2  ...  -1.776357e-15           NaN   NaN -9.32   NaN
     2014.0   NaN  ...   8.881784e-16 -3.000000e-01   NaN -9.20 -3.86
     2015.0   NaN  ...            NaN           NaN   NaN -9.32  0.04
     2016.0   NaN  ...  -1.180000e+01 -7.105427e-15   NaN   NaN   NaN
     2017.0   NaN  ...            NaN           NaN   7.2   NaN   NaN

企业编号                 3982   3984          3987          3997  4000
     年报年份
变化比例 2013.0           NaN  1.700 -4.000000e-02  7.105427e-15   NaN
     2014.0           NaN -6.890 -9.769963e-15  7.105427e-15   NaN
     2015.0           NaN -0.458           NaN  7.105427e-15   NaN
     2016.0           NaN -0.580           NaN           NaN   0.8
     2017.0 -8.881784e-15 -7.140           NaN           NaN   NaN

[5 rows x 707 columns]