In [13]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

data=pd.read_excel("赛题1数据材料/赛题1数据集/年报-社保信息.xlsx").drop_duplicates(keep='first').replace(
    "企业选择不公示",np.nan).replace("选择不公示",np.nan)
                                                                 
data

,企业编号,城镇职工基本养老保险人数,失业保险人数,职工基本医疗保险人数,工伤保险人数,生育保险人数,单位参加城镇职工基本养老保险缴费基数,单位参加失业保险缴费基数,单位参加职工基本医疗保险缴费基数,单位参加工伤保险缴费基数,...,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,单位参加城镇职工基本养老保险累计欠缴金额,单位参加失业保险累计欠缴金额,单位参加职工基本医疗保险累计欠缴金额,单位参加工伤保险累计欠缴金额,单位参加生育保险累计欠缴金额,年报年份
0,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
1,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
2,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
3,1001,2652人,2652人,2652人,2652人,2648人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
4,1001,39620人,39621人,39641人,39569人,39566人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
5,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
6,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
7,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
8,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
9,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
10,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
11,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
12,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
13,1003,7069人,7069人,7069人,7069人,7069人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
14,1003,6915人,6915人,6915人,6915人,6915人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
15,1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
16,1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
17,1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
18,1004,926人,926人,926人,936人,926人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
19,1004,1206人,1206人,1206人,1206人,1206人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
20,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
21,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
22,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
23,1005,206人,206人,206人,206人,206人,6206.96万元,6206.96万元,6206.96万元,NaN,...,44.54万元,463.02万元,12.62万元,33.66万元,0万元,0万元,0万元,0万元,0万元,2016.0
24,1005,230人,230人,230人,230人,230人,4944.18万元,4944.18万元,4952.29万元,NaN,...,49.19万元,543.22万元,14.81万元,39.51万元,0万元,0万元,0万元,0万元,0万元,2017.0
25,1006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
26,1006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
27,1006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
28,1006,2035人,2035人,2035人,2035人,2035人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
29,1006,2046人,2046人,2046人,2046人,2046人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15009,3995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
15010,3995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
15011,3995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
15012,3995,0人,0人,0人,0人,0人,8835万元,2454万元,9402万元,NaN,...,32万元,770万元,31万元,44万元,0万元,0万元,0万元,0万元,0万元,2016.0
15013,3995,0人,0人,0人,0人,0人,10568万元,2822万元,11338万元,NaN,...,42万元,929万元,52万元,53万元,0万元,0万元,0万元,0万元,0万元,2017.0
15014,3996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
15015,3996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
15016,3996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
15017,3996,4806人,4806人,4806人,4806人,4806人,11337.384万元,10378.375万元,31902.0498万元,NaN,...,135.78365万元,348.5334万元,57.606376万元,56.690395万元,0万元,0万元,0万元,0万元,0万元,2016.0
15018,3996,4695人,4695人,4695人,4695人,4695人,11751.7462万元,10480.075万元,33175.4864万元,NaN,...,155.4338万元,555.9864万元,74.07176万元,58.751886万元,0万元,0万元,0万元,0万元,0万元,2017.0
15019,3997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
15020,3997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
15021,3997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
15022,3997,0人,0人,0人,0人,0人,0万元,0万元,0万元,NaN,...,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,2016.0
15023,3997,127人,127人,127人,127人,127人,0.2946万元,0.2946万元,0.2946万元,NaN,...,0.274124万元,3.524778万元,0.301511万元,0.391642万元,0万元,0万元,0万元,0万元,0万元,2017.0
15024,3998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
15025,3998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
15026,3998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
15027,3998,160人,160人,160人,160人,160人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
15028,3998,165人,165人,165人,165人,165人,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
15029,3999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
15030,3999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
15031,3999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
15032,3999,309人,309人,309人,309人,309人,292万元,14万元,105万元,NaN,...,14万元,105万元,12万元,5.8万元,0万元,0万元,0万元,0万元,0万元,2016.0
15033,3999,277人,277人,277人,277人,277人,308.27万元,10.9万元,109.67万元,NaN,...,10.9万元,109.67万元,14.34万元,6.17万元,0万元,0万元,0万元,0万元,0万元,2017.0
15034,4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0
15035,4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
15036,4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0
15037,4000,386人,386人,386人,386人,386人,11019437万元,11019437万元,11019437万元,NaN,...,110194.62万元,826319.84万元,187341.83万元,55109.38万元,0万元,0万元,0万元,0万元,0万元,2016.0
15038,4000,307人,307人,307人,307人,307人,81.7093万元,81.7093万元,81.7093万元,NaN,...,0.817332万元,7.762503万元,1.143978万元,0.408666万元,0万元,0万元,0万元,0万元,0万元,2017.0

In [14]:
data=data.set_index('年报年份').loc[[2016.0,2017.0],:].reset_index()
data

,年报年份,企业编号,城镇职工基本养老保险人数,失业保险人数,职工基本医疗保险人数,工伤保险人数,生育保险人数,单位参加城镇职工基本养老保险缴费基数,单位参加失业保险缴费基数,单位参加职工基本医疗保险缴费基数,...,参加城镇职工基本养老保险本期实际缴费金额,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,单位参加城镇职工基本养老保险累计欠缴金额,单位参加失业保险累计欠缴金额,单位参加职工基本医疗保险累计欠缴金额,单位参加工伤保险累计欠缴金额,单位参加生育保险累计欠缴金额
0,2016.0,1001,2652人,2652人,2652人,2652人,2648人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016.0,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016.0,1003,7069人,7069人,7069人,7069人,7069人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,1004,926人,926人,926人,936人,926人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016.0,1005,206人,206人,206人,206人,206人,6206.96万元,6206.96万元,6206.96万元,...,1147.95万元,44.54万元,463.02万元,12.62万元,33.66万元,0万元,0万元,0万元,0万元,0万元
5,2016.0,1006,2035人,2035人,2035人,2035人,2035人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016.0,1007,29722人,29722人,29722人,29722人,29722人,16601万元,16614万元,16731万元,...,4648万元,249万元,1338万元,166万元,84万元,0万元,0万元,0万元,0万元,0万元
7,2016.0,1008,295人,295人,295人,295人,295人,6577.9万元,6577.9万元,6574万元,...,1271.7万元,57.6万元,657.4万元,32.9万元,52.6万元,0万元,0万元,0万元,0万元,0万元
8,2016.0,1009,1680人,1680人,1680人,1680人,1680人,13299.977921万元,13299.977921万元,13299.977921万元,...,1528.93119万元,91.512966万元,546.991144万元,62.359242万元,56.152171万元,0万元,0万元,0万元,0万元,0万元
9,2016.0,1010,2397人,2397人,2397人,2397人,2397人,40972.6283万元,40972.6283万元,41359.6812万元,...,11186.3157万元,431.8288万元,4971.127万元,101.5284万元,330.8733万元,0万元,0万元,0万元,0万元,0万元
10,2016.0,1011,46128人,46136人,46195人,46199人,46097人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2016.0,1012,5493人,5493人,5493人,5493人,5493人,38864万元,38828万元,38864万元,...,10152万元,583万元,3340万元,428万元,194万元,0万元,0万元,0万元,0万元,0万元
12,2016.0,1013,4819人,4819人,4819人,4819人,4819人,59884万元,59884万元,59884万元,...,16753万元,897万元,7186万元,541万元,598万元,0万元,0万元,0万元,0万元,0万元
13,2016.0,1014,17879人,17879人,17879人,17879人,17879人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016.0,1015,156人,159人,155人,156人,155人,1686013.81万元,2051972.85万元,2033766.67万元,...,3147660.78万元,224980.7万元,3137652.45万元,193206.12万元,238896.28万元,0万元,0万元,0万元,0万元,0万元
15,2016.0,1016,5633人,5633人,5633人,5633人,5633人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016.0,1017,31307人,31307人,31307人,31307人,31307人,222236.2579万元,222236.2579万元,222289.6207万元,...,40001.79241万元,2222.357768万元,17470.34644万元,2316.386538万元,1582.924938万元,0万元,0万元,0万元,0万元,0万元
17,2016.0,1018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016.0,1019,2519人,2519人,2519人,2519人,2519人,32328.44万元,41810.46万元,33188.25万元,...,6269.06万元,474.63万元,2999.23万元,184.71万元,83.1万元,0万元,0万元,0万元,0万元,0万元
19,2016.0,1020,123人,123人,123人,123人,123人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2016.0,1021,25563人,25563人,25563人,25563人,25563人,0万元,0万元,0万元,...,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元
21,2016.0,1022,461012人,461133人,463188人,459724人,448262人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016.0,1023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016.0,1024,2068人,2068人,2068人,2068人,2068人,41028.16万元,36929.31万元,40990.5万元,...,10952.04万元,393.22万元,4744.52万元,95.37万元,293.43万元,0万元,0万元,0万元,0万元,0万元
24,2016.0,1025,528人,528人,528人,528人,528人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2016.0,1026,24人,24人,24人,24人,24人,410.37万元,318.43万元,240.48万元,...,85.99万元,4.78万元,19.24万元,0.24万元,1.14万元,0万元,0万元,0万元,0万元,0万元
26,2016.0,1027,970人,970人,970人,970人,970人,3372.73万元,3170.6万元,1635.89万元,...,646.76万元,29.87万元,275.44万元,11.38万元,10.77万元,0万元,0万元,0万元,0万元,0万元
27,2016.0,1028,65507人,65507人,65507人,65507人,65507人,1944100万元,1944100万元,1944100万元,...,164500万元,8100万元,191800万元,2100万元,5500万元,0万元,0万元,0万元,0万元,0万元
28,2016.0,1029,661人,661人,661人,661人,661人,9179.42万元,9179.42万元,9179.42万元,...,1775.1万元,79.64万元,917.94万元,27.54万元,73.44万元,0万元,0万元,0万元,0万元,0万元
29,2016.0,1030,0人,0人,0人,0人,0人,0万元,0万元,0万元,...,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元,0万元
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5925,2017.0,3971,930人,931人,930人,931人,931人,NaN,万元,万元,...,万元,万元,万元,万元,万元,万元,万元,万元,万元,万元
5926,2017.0,3972,210人,276人,276人,276人,276人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5927,2017.0,3973,663人,663人,663人,663人,663人,401.07万元,401.07万元,401.07万元,...,1257.98万元,43.82万元,553.69万元,13.56万元,46.31万元,0万元,0万元,0万元,0万元,0万元
5928,2017.0,3974,172人,172人,172人,172人,172人,1693.21万元,1420.34万元,1709.96万元,...,418.29万元,13.42万元,158.91万元,7.92万元,11.09万元,0万元,0万元,0万元,0万元,0万元
5929,2017.0,3975,1619人,1619人,1619人,1619人,1619人,0.3178万元,0.3178万元,0.3178万元,...,1608万元,61.85万元,554万元,120.6万元,32万元,0万元,0万元,0万元,0万元,0万元
5930,2017.0,3976,870人,870人,870人,870人,870人,0.2941万元,0.2941万元,0.2941万元,...,887.694432万元,32.880323万元,328.775712万元,32.877576万元,23.015675万元,0万元,0万元,0万元,0万元,0万元
5931,2017.0,3977,896人,896人,896人,896人,896人,1271.24万元,85.73万元,524.13万元,...,6365.56万元,6529.97万元,7055.18万元,万元,8767.1万元,0万元,0万元,0万元,0万元,0万元
5932,2017.0,3978,36人,36人,36人,36人,36人,267.35万元,268.91万元,268.91万元,...,72.18万元,2.69万元,26.89万元,2.04万元,1.34万元,0万元,0万元,0万元,0万元,0万元
5933,2017.0,3979,401人,401人,401人,401人,401人,1322.188万元,1322.188万元,1322.188万元,...,356.99076万元,15.29651万元,132.2188万元,5.288752万元,9.006524万元,0万元,0万元,0万元,0万元,0万元
5934,2017.0,3980,48人,48人,48人,48人,48人,298.97万元,298.97万元,345.69万元,...,61.8万元,2.6万元,37.63万元,1.5万元,3.01万元,0万元,0万元,0万元,0万元,0万元
5935,2017.0,3981,298人,298人,298人,298人,298人,0.303万元,0.303万元,0.303万元,...,134.68万元,5.8万元,55.77万元,6.48万元,2.49万元,0万元,0万元,0万元,0万元,0万元
5936,2017.0,3982,969人,978人,977人,978人,977人,2751.8574万元,2214.195万元,7373.8722万元,...,582.010238万元,33.091937万元,96.38383万元,17.504144万元,13.895571万元,0万元,0万元,0万元,0万元,0万元
5937,2017.0,3983,29人,29人,29人,29人,29人,22.2215万元,22.2215万元,22.2215万元,...,45.747516万元,1.203933万元,21.76685万元,6.053263万元,0.710278万元,0万元,0万元,0万元,0万元,0万元
5938,2017.0,3984,740人,740人,740人,741人,740人,316万元,316万元,316万元,...,665万元,26万元,385万元,31万元,18万元,0万元,0万元,0万元,0万元,0万元
5939,2017.0,3985,466人,466人,466人,466人,466人,0.29万元,0.29万元,0.29万元,...,443.89万元,16.44万元,164.4万元,26.3万元,13.15万元,0万元,0万元,0万元,0万元,0万元
5940,2017.0,3986,3299人,3299人,3299人,3300人,3298人,27548.18448万元,8266.98606万元,28093.2944万元,...,5968.636212万元,116.243413万元,1126.281685万元,178.0942万元,141.046647万元,0万元,0万元,0万元,0万元,0万元
5941,2017.0,3987,0人,0人,0人,0人,0人,80.783万元,81.183万元,91.58894万元,...,21.00358万元,0.908686万元,8.809522万元,0.845277万元,0.46233万元,0万元,0万元,0万元,0万元,0万元
5942,2017.0,3988,575人,575人,575人,576人,575人,5635.1406万元,1386.805万元,5665.7874万元,...,1206.512782万元,20.69347万元,235.609219万元,35.635566万元,28.226965万元,0万元,0万元,0万元,0万元,0万元
5943,2017.0,3989,224人,224人,224人,224人,224人,1063.228万元,1063.228万元,1369.8048万元,...,287.0716万元,10.0208万元,165.1671万元,10.0157万元,10.9586万元,0万元,0万元,0万元,0万元,0万元
5944,2017.0,3990,409人,409人,410人,409人,409人,175.48万元,175.48万元,175.48万元,...,547.9万元,23.57万元,224.2万元,10.62万元,15.4万元,0万元,0万元,0万元,0万元,0万元
5945,2017.0,3991,794人,794人,794人,794人,794人,39081961万元,39081961万元,39081961万元,...,10372080.2万元,424466.43万元,3373116.15万元,351737.55万元,156327.81万元,0万元,0万元,0万元,0万元,0万元
5946,2017.0,3992,1876人,1876人,1876人,1876人,1876人,75690481.5万元,75690481.5万元,75690481.5万元,...,10596667.42万元,478913.66万元,7929263.97万元,378452.42万元,756904.83万元,0万元,0万元,0万元,0万元,0万元
5947,2017.0,3993,656人,656人,656人,657人,656人,469.5969万元,472.6396万元,492.0901万元,...,88.3313万元,3.609万元,47.7625万元,3.2546万元,3.2495万元,0万元,0万元,0万元,0万元,0万元
5948,2017.0,3994,1454人,1454人,1455人,1470人,1455人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5949,2017.0,3995,0人,0人,0人,0人,0人,10568万元,2822万元,11338万元,...,2272万元,42万元,929万元,52万元,53万元,0万元,0万元,0万元,0万元,0万元
5950,2017.0,3996,4695人,4695人,4695人,4695人,4695人,11751.7462万元,10480.075万元,33175.4864万元,...,2481.8709万元,155.4338万元,555.9864万元,74.07176万元,58.751886万元,0万元,0万元,0万元,0万元,0万元
5951,2017.0,3997,127人,127人,127人,127人,127人,0.2946万元,0.2946万元,0.2946万元,...,7.049556万元,0.274124万元,3.524778万元,0.301511万元,0.391642万元,0万元,0万元,0万元,0万元,0万元
5952,2017.0,3998,165人,165人,165人,165人,165人,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5953,2017.0,3999,277人,277人,277人,277人,277人,308.27万元,10.9万元,109.67万元,...,308.26万元,10.9万元,109.67万元,14.34万元,6.17万元,0万元,0万元,0万元,0万元,0万元
5954,2017.0,4000,307人,307人,307人,307人,307人,81.7093万元,81.7093万元,81.7093万元,...,22.061511万元,0.817332万元,7.762503万元,1.143978万元,0.408666万元,0万元,0万元,0万元,0万元,0万元

In [15]:
def get_number(cell):
    if not isinstance(cell, str):
        return cell
    _ = re.findall(r'[\d.]+',cell)
    if not _:
        return None
    return float(_[0])
df=data.applymap(get_number).set_index(["企业编号","年报年份"])
df

,,城镇职工基本养老保险人数,失业保险人数,职工基本医疗保险人数,工伤保险人数,生育保险人数,单位参加城镇职工基本养老保险缴费基数,单位参加失业保险缴费基数,单位参加职工基本医疗保险缴费基数,单位参加工伤保险缴费基数,单位参加生育保险缴费基数,参加城镇职工基本养老保险本期实际缴费金额,参加失业保险本期实际缴费金额,参加职工基本医疗保险本期实际缴费金额,参加工伤保险本期实际缴费金额,参加生育保险本期实际缴费金额,单位参加城镇职工基本养老保险累计欠缴金额,单位参加失业保险累计欠缴金额,单位参加职工基本医疗保险累计欠缴金额,单位参加工伤保险累计欠缴金额,单位参加生育保险累计欠缴金额
企业编号,年报年份,,,,,,,,,,,,,,,,,,,,
1001,2016.0,2652.0,2652.0,2652.0,2652.0,2648.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,2016.0,7069.0,7069.0,7069.0,7069.0,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,2016.0,926.0,926.0,926.0,936.0,926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,2016.0,206.0,206.0,206.0,206.0,206.0,6.206960e+03,6.206960e+03,6.206960e+03,NaN,6.206960e+03,1.147950e+03,44.540000,4.630200e+02,12.620000,33.660000,0.0,0.0,0.0,0.0,0.0
1006,2016.0,2035.0,2035.0,2035.0,2035.0,2035.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,2016.0,29722.0,29722.0,29722.0,29722.0,29722.0,1.660100e+04,1.661400e+04,1.673100e+04,NaN,1.673100e+04,4.648000e+03,249.000000,1.338000e+03,166.000000,84.000000,0.0,0.0,0.0,0.0,0.0
1008,2016.0,295.0,295.0,295.0,295.0,295.0,6.577900e+03,6.577900e+03,6.574000e+03,NaN,6.574000e+03,1.271700e+03,57.600000,6.574000e+02,32.900000,52.600000,0.0,0.0,0.0,0.0,0.0
1009,2016.0,1680.0,1680.0,1680.0,1680.0,1680.0,1.329998e+04,1.329998e+04,1.329998e+04,NaN,1.329998e+04,1.528931e+03,91.512966,5.469911e+02,62.359242,56.152171,0.0,0.0,0.0,0.0,0.0
1010,2016.0,2397.0,2397.0,2397.0,2397.0,2397.0,4.097263e+04,4.097263e+04,4.135968e+04,NaN,4.135968e+04,1.118632e+04,431.828800,4.971127e+03,101.528400,330.873300,0.0,0.0,0.0,0.0,0.0
1011,2016.0,46128.0,46136.0,46195.0,46199.0,46097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1012,2016.0,5493.0,5493.0,5493.0,5493.0,5493.0,3.886400e+04,3.882800e+04,3.886400e+04,NaN,3.886400e+04,1.015200e+04,583.000000,3.340000e+03,428.000000,194.000000,0.0,0.0,0.0,0.0,0.0
1013,2016.0,4819.0,4819.0,4819.0,4819.0,4819.0,5.988400e+04,5.988400e+04,5.988400e+04,NaN,5.988400e+04,1.675300e+04,897.000000,7.186000e+03,541.000000,598.000000,0.0,0.0,0.0,0.0,0.0
1014,2016.0,17879.0,17879.0,17879.0,17879.0,17879.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1015,2016.0,156.0,159.0,155.0,156.0,155.0,1.686014e+06,2.051973e+06,2.033767e+06,NaN,2.033767e+06,3.147661e+06,224980.700000,3.137652e+06,193206.120000,238896.280000,0.0,0.0,0.0,0.0,0.0
1016,2016.0,5633.0,5633.0,5633.0,5633.0,5633.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1017,2016.0,31307.0,31307.0,31307.0,31307.0,31307.0,2.222363e+05,2.222363e+05,2.222896e+05,NaN,2.222363e+05,4.000179e+04,2222.357768,1.747035e+04,2316.386538,1582.924938,0.0,0.0,0.0,0.0,0.0
1018,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1019,2016.0,2519.0,2519.0,2519.0,2519.0,2519.0,3.232844e+04,4.181046e+04,3.318825e+04,NaN,4.112940e+04,6.269060e+03,474.630000,2.999230e+03,184.710000,83.100000,0.0,0.0,0.0,0.0,0.0
1020,2016.0,123.0,123.0,123.0,123.0,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021,2016.0,25563.0,25563.0,25563.0,25563.0,25563.0,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1022,2016.0,461012.0,461133.0,463188.0,459724.0,448262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,2016.0,2068.0,2068.0,2068.0,2068.0,2068.0,4.102816e+04,3.692931e+04,4.099050e+04,NaN,4.098065e+04,1.095204e+04,393.220000,4.744520e+03,95.370000,293.430000,0.0,0.0,0.0,0.0,0.0
1025,2016.0,528.0,528.0,528.0,528.0,528.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,2016.0,24.0,24.0,24.0,24.0,24.0,4.103700e+02,3.184300e+02,2.404800e+02,NaN,2.279500e+02,8.599000e+01,4.780000,1.924000e+01,0.240000,1.140000,0.0,0.0,0.0,0.0,0.0
1027,2016.0,970.0,970.0,970.0,970.0,970.0,3.372730e+03,3.170600e+03,1.635890e+03,NaN,1.635640e+03,6.467600e+02,29.870000,2.754400e+02,11.380000,10.770000,0.0,0.0,0.0,0.0,0.0
1028,2016.0,65507.0,65507.0,65507.0,65507.0,65507.0,1.944100e+06,1.944100e+06,1.944100e+06,NaN,1.944100e+06,1.645000e+05,8100.000000,1.918000e+05,2100.000000,5500.000000,0.0,0.0,0.0,0.0,0.0
1029,2016.0,661.0,661.0,661.0,661.0,661.0,9.179420e+03,9.179420e+03,9.179420e+03,NaN,9.179420e+03,1.775100e+03,79.640000,9.179400e+02,27.540000,73.440000,0.0,0.0,0.0,0.0,0.0
1030,2016.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,2017.0,930.0,931.0,930.0,931.0,931.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3972,2017.0,210.0,276.0,276.0,276.0,276.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3973,2017.0,663.0,663.0,663.0,663.0,663.0,4.010700e+02,4.010700e+02,4.010700e+02,NaN,4.010700e+02,1.257980e+03,43.820000,5.536900e+02,13.560000,46.310000,0.0,0.0,0.0,0.0,0.0
3974,2017.0,172.0,172.0,172.0,172.0,172.0,1.693210e+03,1.420340e+03,1.709960e+03,NaN,1.678850e+03,4.182900e+02,13.420000,1.589100e+02,7.920000,11.090000,0.0,0.0,0.0,0.0,0.0
3975,2017.0,1619.0,1619.0,1619.0,1619.0,1619.0,3.178000e-01,3.178000e-01,3.178000e-01,NaN,3.178000e-01,1.608000e+03,61.850000,5.540000e+02,120.600000,32.000000,0.0,0.0,0.0,0.0,0.0
3976,2017.0,870.0,870.0,870.0,870.0,870.0,2.941000e-01,2.941000e-01,2.941000e-01,NaN,2.941000e-01,8.876944e+02,32.880323,3.287757e+02,32.877576,23.015675,0.0,0.0,0.0,0.0,0.0
3977,2017.0,896.0,896.0,896.0,896.0,896.0,1.271240e+03,8.573000e+01,5.241300e+02,NaN,6.129000e+01,6.365560e+03,6529.970000,7.055180e+03,NaN,8767.100000,0.0,0.0,0.0,0.0,0.0
3978,2017.0,36.0,36.0,36.0,36.0,36.0,2.673500e+02,2.689100e+02,2.689100e+02,NaN,2.689100e+02,7.218000e+01,2.690000,2.689000e+01,2.040000,1.340000,0.0,0.0,0.0,0.0,0.0
3979,2017.0,401.0,401.0,401.0,401.0,401.0,1.322188e+03,1.322188e+03,1.322188e+03,NaN,1.322188e+03,3.569908e+02,15.296510,1.322188e+02,5.288752,9.006524,0.0,0.0,0.0,0.0,0.0
3980,2017.0,48.0,48.0,48.0,48.0,48.0,2.989700e+02,2.989700e+02,3.456900e+02,NaN,3.456900e+02,6.180000e+01,2.600000,3.763000e+01,1.500000,3.010000,0.0,0.0,0.0,0.0,0.0
3981,2017.0,298.0,298.0,298.0,298.0,298.0,3.030000e-01,3.030000e-01,3.030000e-01,NaN,3.030000e-01,1.346800e+02,5.800000,5.577000e+01,6.480000,2.490000,0.0,0.0,0.0,0.0,0.0
3982,2017.0,969.0,978.0,977.0,978.0,977.0,2.751857e+03,2.214195e+03,7.373872e+03,NaN,2.775498e+03,5.820102e+02,33.091937,9.638383e+01,17.504144,13.895571,0.0,0.0,0.0,0.0,0.0
3983,2017.0,29.0,29.0,29.0,29.0,29.0,2.222150e+01,2.222150e+01,2.222150e+01,NaN,2.222150e+01,4.574752e+01,1.203933,2.176685e+01,6.053263,0.710278,0.0,0.0,0.0,0.0,0.0
3984,2017.0,740.0,740.0,740.0,741.0,740.0,3.160000e+02,3.160000e+02,3.160000e+02,NaN,3.160000e+02,6.650000e+02,26.000000,3.850000e+02,31.000000,18.000000,0.0,0.0,0.0,0.0,0.0
3985,2017.0,466.0,466.0,466.0,466.0,466.0,2.900000e-01,2.900000e-01,2.900000e-01,NaN,2.900000e-01,4.438900e+02,16.440000,1.644000e+02,26.300000,13.150000,0.0,0.0,0.0,0.0,0.0
3986,2017.0,3299.0,3299.0,3299.0,3300.0,3298.0,2.754818e+04,8.266986e+03,2.809329e+04,NaN,2.751490e+04,5.968636e+03,116.243413,1.126282e+03,178.094200,141.046647,0.0,0.0,0.0,0.0,0.0
3987,2017.0,0.0,0.0,0.0,0.0,0.0,8.078300e+01,8.118300e+01,9.158894e+01,NaN,9.101753e+01,2.100358e+01,0.908686,8.809522e+00,0.845277,0.462330,0.0,0.0,0.0,0.0,0.0
3988,2017.0,575.0,575.0,575.0,576.0,575.0,5.635141e+03,1.386805e+03,5.665787e+03,NaN,5.645105e+03,1.206513e+03,20.693470,2.356092e+02,35.635566,28.226965,0.0,0.0,0.0,0.0,0.0
3989,2017.0,224.0,224.0,224.0,224.0,224.0,1.063228e+03,1.063228e+03,1.369805e+03,NaN,1.369805e+03,2.870716e+02,10.020800,1.651671e+02,10.015700,10.958600,0.0,0.0,0.0,0.0,0.0
3990,2017.0,409.0,409.0,410.0,409.0,409.0,1.754800e+02,1.754800e+02,1.754800e+02,NaN,1.754800e+02,5.479000e+02,23.570000,2.242000e+02,10.620000,15.400000,0.0,0.0,0.0,0.0,0.0
3991,2017.0,794.0,794.0,794.0,794.0,794.0,3.908196e+07,3.908196e+07,3.908196e+07,NaN,3.908196e+07,1.037208e+07,424466.430000,3.373116e+06,351737.550000,156327.810000,0.0,0.0,0.0,0.0,0.0
3992,2017.0,1876.0,1876.0,1876.0,1876.0,1876.0,7.569048e+07,7.569048e+07,7.569048e+07,NaN,7.569048e+07,1.059667e+07,478913.660000,7.929264e+06,378452.420000,756904.830000,0.0,0.0,0.0,0.0,0.0
3993,2017.0,656.0,656.0,656.0,657.0,656.0,4.695969e+02,4.726396e+02,4.920901e+02,NaN,4.919716e+02,8.833130e+01,3.609000,4.776250e+01,3.254600,3.249500,0.0,0.0,0.0,0.0,0.0
3994,2017.0,1454.0,1454.0,1455.0,1470.0,1455.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,2017.0,0.0,0.0,0.0,0.0,0.0,1.056800e+04,2.822000e+03,1.133800e+04,NaN,1.057300e+04,2.272000e+03,42.000000,9.290000e+02,52.000000,53.000000,0.0,0.0,0.0,0.0,0.0
3996,2017.0,4695.0,4695.0,4695.0,4695.0,4695.0,1.175175e+04,1.048008e+04,3.317549e+04,NaN,1.175038e+04,2.481871e+03,155.433800,5.559864e+02,74.071760,58.751886,0.0,0.0,0.0,0.0,0.0
3997,2017.0,127.0,127.0,127.0,127.0,127.0,2.946000e-01,2.946000e-01,2.946000e-01,NaN,2.946000e-01,7.049556e+00,0.274124,3.524778e+00,0.301511,0.391642,0.0,0.0,0.0,0.0,0.0
3998,2017.0,165.0,165.0,165.0,165.0,165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,2017.0,277.0,277.0,277.0,277.0,277.0,3.082700e+02,1.090000e+01,1.096700e+02,NaN,6.170000e+00,3.082600e+02,10.900000,1.096700e+02,14.340000,6.170000,0.0,0.0,0.0,0.0,0.0
4000,2017.0,307.0,307.0,307.0,307.0,307.0,8.170930e+01,8.170930e+01,8.170930e+01,NaN,8.170930e+01,2.206151e+01,0.817332,7.762503e+00,1.143978,0.408666,0.0,0.0,0.0,0.0,0.0

In [17]:
result=df.groupby(["企业编号","年报年份"]).mean().unstack().T
result

企业编号                            1001  1002    1003    1004     1005    1006  \
                     年报年份
城镇职工基本养老保险人数         2016.0   2652.0   NaN  7069.0   926.0   206.00  2035.0
                     2017.0  39620.0   NaN  6915.0  1206.0   230.00  2046.0
失业保险人数               2016.0   2652.0   NaN  7069.0   926.0   206.00  2035.0
                     2017.0  39621.0   NaN  6915.0  1206.0   230.00  2046.0
职工基本医疗保险人数           2016.0   2652.0   NaN  7069.0   926.0   206.00  2035.0
                     2017.0  39641.0   NaN  6915.0  1206.0   230.00  2046.0
工伤保险人数               2016.0   2652.0   NaN  7069.0   936.0   206.00  2035.0
                     2017.0  39569.0   NaN  6915.0  1206.0   230.00  2046.0
生育保险人数               2016.0   2648.0   NaN  7069.0   926.0   206.00  2035.0
                     2017.0  39566.0   NaN  6915.0  1206.0   230.00  2046.0
单位参加城镇职工基本养老保险缴费基数   2016.0      NaN   NaN     NaN     NaN  6206.96     NaN
                     2017.0      NaN   NaN     NaN     NaN  4944.18     NaN
单位参加失业保险缴费基数         2016.0      NaN   NaN     NaN     NaN  6206.96     NaN
                     2017.0      NaN   NaN     NaN     NaN  4944.18     NaN
单位参加职工基本医疗保险缴费基数     2016.0      NaN   NaN     NaN     NaN  6206.96     NaN
                     2017.0      NaN   NaN     NaN     NaN  4952.29     NaN
单位参加工伤保险缴费基数         2016.0      NaN   NaN     NaN     NaN      NaN     NaN
                     2017.0      NaN   NaN     NaN     NaN      NaN     NaN
单位参加生育保险缴费基数         2016.0      NaN   NaN     NaN     NaN  6206.96     NaN
                     2017.0      NaN   NaN     NaN     NaN  4952.29     NaN
参加城镇职工基本养老保险本期实际缴费金额 2016.0      NaN   NaN     NaN     NaN  1147.95     NaN
                     2017.0      NaN   NaN     NaN     NaN  1331.17     NaN
参加失业保险本期实际缴费金额       2016.0      NaN   NaN     NaN     NaN    44.54     NaN
                     2017.0      NaN   NaN     NaN     NaN    49.19     NaN
参加职工基本医疗保险本期实际缴费金额   2016.0      NaN   NaN     NaN     NaN   463.02     NaN
                     2017.0      NaN   NaN     NaN     NaN   543.22     NaN
参加工伤保险本期实际缴费金额       2016.0      NaN   NaN     NaN     NaN    12.62     NaN
                     2017.0      NaN   NaN     NaN     NaN    14.81     NaN
参加生育保险本期实际缴费金额       2016.0      NaN   NaN     NaN     NaN    33.66     NaN
                     2017.0      NaN   NaN     NaN     NaN    39.51     NaN
单位参加城镇职工基本养老保险累计欠缴金额 2016.0      NaN   NaN     NaN     NaN     0.00     NaN
                     2017.0      NaN   NaN     NaN     NaN     0.00     NaN
单位参加失业保险累计欠缴金额       2016.0      NaN   NaN     NaN     NaN     0.00     NaN
                     2017.0      NaN   NaN     NaN     NaN     0.00     NaN
单位参加职工基本医疗保险累计欠缴金额   2016.0      NaN   NaN     NaN     NaN     0.00     NaN
                     2017.0      NaN   NaN     NaN     NaN     0.00     NaN
单位参加工伤保险累计欠缴金额       2016.0      NaN   NaN     NaN     NaN     0.00     NaN
                     2017.0      NaN   NaN     NaN     NaN     0.00     NaN
单位参加生育保险累计欠缴金额       2016.0      NaN   NaN     NaN     NaN     0.00     NaN
                     2017.0      NaN   NaN     NaN     NaN     0.00     NaN

企业编号                            1007    1008          1009        1010  \
                     年报年份
城镇职工基本养老保险人数         2016.0  29722.0   295.0   1680.000000   2397.0000
                     2017.0      NaN   286.0   2077.000000   2585.0000
失业保险人数               2016.0  29722.0   295.0   1680.000000   2397.0000
                     2017.0      NaN   286.0   2077.000000   2585.0000
职工基本医疗保险人数           2016.0  29722.0   295.0   1680.000000   2397.0000
                     2017.0      NaN   286.0   2077.000000   2585.0000
工伤保险人数               2016.0  29722.0   295.0   1680.000000   2397.0000
                     2017.0      NaN   286.0   2077.000000   2585.0000
生育保险人数               2016.0  29722.0   295.0   1680.000000   2397.0000
                     2017.0      NaN   286.0   2077.000000   2585.0000
单位参加城镇职工基本养老保险缴费基数   2016.0  16601.0  6577.9  13299.977921  40972.6283
                     2017.0      NaN  7095.0   9557.117653  48892.5446
单位参加失业保险缴费基数         2016.0  16614.0  6577.9  13299.977921  40972.6283
                     2017.0      NaN  7095.0   9557.117653  48892.5446
单位参加职工基本医疗保险缴费基数     2016.0  16731.0  6574.0  13299.977921  41359.6812
                     2017.0      NaN  7110.0   9557.117653  49363.0557
单位参加工伤保险缴费基数         2016.0      NaN     NaN           NaN         NaN
                     2017.0      NaN     NaN           NaN         NaN
单位参加生育保险缴费基数         2016.0  16731.0  6574.0  13299.977921  41359.6812
                     2017.0      NaN  7110.0   9557.117653  49360.9299
参加城镇职工基本养老保险本期实际缴费金额 2016.0   4648.0  1271.7   1528.931190  11186.3157
                     2017.0      NaN  1348.0   1815.852354  13200.9870
参加失业保险本期实际缴费金额       2016.0    249.0    57.6     91.512966    431.8288
                     2017.0      NaN    57.0     55.712932    484.7440
参加职工基本医疗保险本期实际缴费金额   2016.0   1338.0   657.4    546.991144   4971.1270
                     2017.0      NaN   711.0    694.766654   5932.4752
参加工伤保险本期实际缴费金额       2016.0    166.0    32.9     62.359242    101.5284
                     2017.0      NaN    36.0     62.718639     98.7272
参加生育保险本期实际缴费金额       2016.0     84.0    52.6     56.152171    330.8733
                     2017.0      NaN    57.0     47.985776    394.8821
单位参加城镇职工基本养老保险累计欠缴金额 2016.0      0.0     0.0      0.000000      0.0000
                     2017.0      NaN     0.0      0.000000      0.0000
单位参加失业保险累计欠缴金额       2016.0      0.0     0.0      0.000000      0.0000
                     2017.0      NaN     0.0      0.000000      0.0000
单位参加职工基本医疗保险累计欠缴金额   2016.0      0.0     0.0      0.000000      0.0000
                     2017.0      NaN     0.0      0.000000      0.0000
单位参加工伤保险累计欠缴金额       2016.0      0.0     0.0      0.000000      0.0000
                     2017.0      NaN     0.0      0.000000      0.0000
单位参加生育保险累计欠缴金额       2016.0      0.0     0.0      0.000000      0.0000
                     2017.0      NaN     0.0      0.000000      0.0000

企业编号                             ...               3991         3992  \
                     年报年份        ...
城镇职工基本养老保险人数         2016.0      ...       8.090000e+02      1416.00
                     2017.0      ...       7.940000e+02      1876.00
失业保险人数               2016.0      ...       8.090000e+02      1416.00
                     2017.0      ...       7.940000e+02      1876.00
职工基本医疗保险人数           2016.0      ...       8.090000e+02      1416.00
                     2017.0      ...       7.940000e+02      1876.00
工伤保险人数               2016.0      ...       8.090000e+02      1416.00
                     2017.0      ...       7.940000e+02      1876.00
生育保险人数               2016.0      ...       8.090000e+02      1416.00
                     2017.0      ...       7.940000e+02      1876.00
单位参加城镇职工基本养老保险缴费基数   2016.0      ...       3.974550e+03          NaN
                     2017.0      ...       3.908196e+07  75690481.50
单位参加失业保险缴费基数         2016.0      ...       3.974550e+03          NaN
                     2017.0      ...       3.908196e+07  75690481.50
单位参加职工基本医疗保险缴费基数     2016.0      ...       3.974550e+03          NaN
                     2017.0      ...       3.908196e+07  75690481.50
单位参加工伤保险缴费基数         2016.0      ...                NaN          NaN
                     2017.0      ...                NaN          NaN
单位参加生育保险缴费基数         2016.0      ...       3.974550e+03          NaN
                     2017.0      ...       3.908196e+07  75690481.50
参加城镇职工基本养老保险本期实际缴费金额 2016.0      ...       1.290400e+03          NaN
                     2017.0      ...       1.037208e+07  10596667.42
参加失业保险本期实际缴费金额       2016.0      ...       6.751000e+01          NaN
                     2017.0      ...       4.244664e+05    478913.66
参加职工基本医疗保险本期实际缴费金额   2016.0      ...       5.181400e+02          NaN
                     2017.0      ...       3.373116e+06   7929263.97
参加工伤保险本期实际缴费金额       2016.0      ...       4.849000e+01          NaN
                     2017.0      ...       3.517375e+05    378452.42
参加生育保险本期实际缴费金额       2016.0      ...       3.448000e+01          NaN
                     2017.0      ...       1.563278e+05    756904.83
单位参加城镇职工基本养老保险累计欠缴金额 2016.0      ...       0.000000e+00          NaN
                     2017.0      ...       0.000000e+00         0.00
单位参加失业保险累计欠缴金额       2016.0      ...       0.000000e+00          NaN
                     2017.0      ...       0.000000e+00         0.00
单位参加职工基本医疗保险累计欠缴金额   2016.0      ...       0.000000e+00          NaN
                     2017.0      ...       0.000000e+00         0.00
单位参加工伤保险累计欠缴金额       2016.0      ...       0.000000e+00          NaN
                     2017.0      ...       0.000000e+00         0.00
单位参加生育保险累计欠缴金额       2016.0      ...       0.000000e+00          NaN
                     2017.0      ...       0.000000e+00         0.00

企业编号                             3993    3994     3995          3996  \
                     年报年份
城镇职工基本养老保险人数         2016.0  660.0000  1437.0      0.0   4806.000000
                     2017.0  656.0000  1454.0      0.0   4695.000000
失业保险人数               2016.0  660.0000  1437.0      0.0   4806.000000
                     2017.0  656.0000  1454.0      0.0   4695.000000
职工基本医疗保险人数           2016.0  660.0000  1438.0      0.0   4806.000000
                     2017.0  656.0000  1455.0      0.0   4695.000000
工伤保险人数               2016.0  661.0000  1448.0      0.0   4806.000000
                     2017.0  657.0000  1470.0      0.0   4695.000000
生育保险人数               2016.0  660.0000  1438.0      0.0   4806.000000
                     2017.0  656.0000  1455.0      0.0   4695.000000
单位参加城镇职工基本养老保险缴费基数   2016.0  428.2727     NaN   8835.0  11337.384000
                     2017.0  469.5969     NaN  10568.0  11751.746200
单位参加失业保险缴费基数         2016.0  429.8498     NaN   2454.0  10378.375000
                     2017.0  472.6396     NaN   2822.0  10480.075000
单位参加职工基本医疗保险缴费基数     2016.0  445.7603     NaN   9402.0  31902.049800
                     2017.0  492.0901     NaN  11338.0  33175.486400
单位参加工伤保险缴费基数         2016.0       NaN     NaN      NaN           NaN
                     2017.0       NaN     NaN      NaN           NaN
单位参加生育保险缴费基数         2016.0  446.6199     NaN   8840.0  11338.079000
                     2017.0  491.9716     NaN  10573.0  11750.377200
参加城镇职工基本养老保险本期实际缴费金额 2016.0  898.5993     NaN   1903.0   2390.832100
                     2017.0   88.3313     NaN   2272.0   2481.870900
参加失业保险本期实际缴费金额       2016.0   43.4849     NaN     32.0    135.783650
                     2017.0    3.6090     NaN     42.0    155.433800
参加职工基本医疗保险本期实际缴费金额   2016.0  471.4226     NaN    770.0    348.533400
                     2017.0   47.7625     NaN    929.0    555.986400
参加工伤保险本期实际缴费金额       2016.0   34.7093     NaN     31.0     57.606376
                     2017.0    3.2546     NaN     52.0     74.071760
参加生育保险本期实际缴费金额       2016.0   38.4478     NaN     44.0     56.690395
                     2017.0    3.2495     NaN     53.0     58.751886
单位参加城镇职工基本养老保险累计欠缴金额 2016.0    0.0000     NaN      0.0      0.000000
                     2017.0    0.0000     NaN      0.0      0.000000
单位参加失业保险累计欠缴金额       2016.0    0.0000     NaN      0.0      0.000000
                     2017.0    0.0000     NaN      0.0      0.000000
单位参加职工基本医疗保险累计欠缴金额   2016.0    0.0000     NaN      0.0      0.000000
                     2017.0    0.0000     NaN      0.0      0.000000
单位参加工伤保险累计欠缴金额       2016.0    0.0000     NaN      0.0      0.000000
                     2017.0    0.0000     NaN      0.0      0.000000
单位参加生育保险累计欠缴金额       2016.0    0.0000     NaN      0.0      0.000000
                     2017.0    0.0000     NaN      0.0      0.000000

企业编号                               3997   3998    3999          4000
                     年报年份
城镇职工基本养老保险人数         2016.0    0.000000  160.0  309.00  3.860000e+02
                     2017.0  127.000000  165.0  277.00  3.070000e+02
失业保险人数               2016.0    0.000000  160.0  309.00  3.860000e+02
                     2017.0  127.000000  165.0  277.00  3.070000e+02
职工基本医疗保险人数           2016.0    0.000000  160.0  309.00  3.860000e+02
                     2017.0  127.000000  165.0  277.00  3.070000e+02
工伤保险人数               2016.0    0.000000  160.0  309.00  3.860000e+02
                     2017.0  127.000000  165.0  277.00  3.070000e+02
生育保险人数               2016.0    0.000000  160.0  309.00  3.860000e+02
                     2017.0  127.000000  165.0  277.00  3.070000e+02
单位参加城镇职工基本养老保险缴费基数   2016.0    0.000000    NaN  292.00  1.101944e+07
                     2017.0    0.294600    NaN  308.27  8.170930e+01
单位参加失业保险缴费基数         2016.0    0.000000    NaN   14.00  1.101944e+07
                     2017.0    0.294600    NaN   10.90  8.170930e+01
单位参加职工基本医疗保险缴费基数     2016.0    0.000000    NaN  105.00  1.101944e+07
                     2017.0    0.294600    NaN  109.67  8.170930e+01
单位参加工伤保险缴费基数         2016.0         NaN    NaN     NaN           NaN
                     2017.0         NaN    NaN     NaN           NaN
单位参加生育保险缴费基数         2016.0    0.000000    NaN    5.80  1.101944e+07
                     2017.0    0.294600    NaN    6.17  8.170930e+01
参加城镇职工基本养老保险本期实际缴费金额 2016.0    0.000000    NaN  292.00  2.130239e+06
                     2017.0    7.049556    NaN  308.26  2.206151e+01
参加失业保险本期实际缴费金额       2016.0    0.000000    NaN   14.00  1.101946e+05
                     2017.0    0.274124    NaN   10.90  8.173320e-01
参加职工基本医疗保险本期实际缴费金额   2016.0    0.000000    NaN  105.00  8.263198e+05
                     2017.0    3.524778    NaN  109.67  7.762503e+00
参加工伤保险本期实际缴费金额       2016.0    0.000000    NaN   12.00  1.873418e+05
                     2017.0    0.301511    NaN   14.34  1.143978e+00
参加生育保险本期实际缴费金额       2016.0    0.000000    NaN    5.80  5.510938e+04
                     2017.0    0.391642    NaN    6.17  4.086660e-01
单位参加城镇职工基本养老保险累计欠缴金额 2016.0    0.000000    NaN    0.00  0.000000e+00
                     2017.0    0.000000    NaN    0.00  0.000000e+00
单位参加失业保险累计欠缴金额       2016.0    0.000000    NaN    0.00  0.000000e+00
                     2017.0    0.000000    NaN    0.00  0.000000e+00
单位参加职工基本医疗保险累计欠缴金额   2016.0    0.000000    NaN    0.00  0.000000e+00
                     2017.0    0.000000    NaN    0.00  0.000000e+00
单位参加工伤保险累计欠缴金额       2016.0    0.000000    NaN    0.00  0.000000e+00
                     2017.0    0.000000    NaN    0.00  0.000000e+00
单位参加生育保险累计欠缴金额       2016.0    0.000000    NaN    0.00  0.000000e+00
                     2017.0    0.000000    NaN    0.00  0.000000e+00

[40 rows x 2978 columns]

In [18]:
result.to_pickle('年报-社保信息.pickle')