In [22]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

data=pd.read_excel("赛题1测试数据集\年报-股东股权转让.xlsx")
data

      企业编号  变更前股权比例  变更后股权比例      股权变更日期  年报年份
0     4005    47.85    31.53  2014-08-29  2014
1     4005      NaN      NaN         NaN  2013
2     4009      25%     25.6  2014-12-02  2014
3     4013     100%     100%  2015-04-23  2015
4     4013      NaN      NaN         NaN  2014
5     4013      NaN      NaN         NaN  2014
6     4013      NaN      NaN         NaN  2014
7     4013       0%      10%  2016-12-13  2016
8     4014   100.0%   100.0%  2013-12-31  2013
9     4015    97.56    73.33  2017-01-09  2016
10    4015     2.44    26.67  2017-01-09  2016
11    4021     5.95     5.45  2013-03-10  2013
12    4021    28.52    29.52  2013-08-07  2013
13    4021    14.88     9.24  2013-03-11  2013
14    4021     9.24     4.02  2014-06-24  2014
15    4021     5.45     5.23  2014-08-13  2014
16    4021    39.32    37.67  2014-08-13  2014
17    4021     34.7     38.2  2014-06-04  2014
18    4021     0.45      0.5  2014-06-04  2014
19    4021     0.68     0.73  2014-06-04  2014
20    4021     1.79     1.87  2014-06-04  2014
21    4021     5.69     5.06  2014-12-12  2014
22    4021     2.68     2.54  2014-12-10  2014
23    4021       0%     0.75  2015-10-07  2015
24    4021     0.91     0.65  2015-05-17  2015
25    4021     0.67     0.45  2015-05-26  2015
26    4021       8%      4.9  2015-07-27  2015
27    4021      3.6     2.54  2015-05-17  2015
28    4021       0%      0.7  2015-08-18  2015
29    4021       0%     1.29  2015-12-01  2015
...    ...      ...      ...         ...   ...
2143  4522   1.791%  1.7257%  2015-12-24  2015
2144  4522   6.433%       4%  2015-12-24  2015
2145  4522       4%  3.8542%  2015-12-24  2015
2146  4522       0%  1.0625%  2015-12-24  2015
2147  4522       0%  2.5825%  2015-12-24  2015
2148  4522       0%  2.1985%  2015-12-24  2015
2149  4523    1.811    1.811  2017-06-16  2017
2150  4523   3.0833   3.0833  2017-06-16  2017
2151  4523   3.0833   3.0833  2017-06-16  2017
2152  4523   6.1638   4.1638  2017-06-16  2017
2153  4523   3.6999   3.6999  2017-06-16  2017
2154  4523   6.1638   4.1638  2017-06-16  2017
2155  4523    1.811    1.811  2017-06-16  2017
2156  4523   2.0833   2.0833  2017-06-16  2017
2157  4523   3.0833   2.0833  2017-06-16  2017
2158  4523      0.5      0.5  2017-06-16  2017
2159  4523   6.1638  10.1638  2017-06-16  2017
2160  4523   3.0833   2.0833  2017-06-16  2017
2161  4523   3.0833   2.0833  2017-06-16  2017
2162  4523   6.1638   4.1638  2017-06-16  2017
2163  4523      0.5      0.5  2017-06-16  2017
2164  4523  24.4942  27.4942  2017-06-16  2017
2165  4523   3.0833   3.0833  2017-06-16  2017
2166  4523   3.0833   3.0833  2017-06-16  2017
2167  4523   1.4488   1.4488  2017-06-16  2017
2168  4523       1%       1%  2017-06-16  2017
2169  4523   3.0833   3.0833  2017-06-16  2017
2170  4523   3.0833   2.0833  2017-06-16  2017
2171  4523   3.0833   2.0833  2017-06-16  2017
2172  4523   6.1638  11.1638  2017-06-16  2017

[2173 rows x 5 columns]

In [30]:
def change(cell):
    cell=float(cell)
    return cell

data["年报年份"]=data[["年报年份"]].applymap(change)
data

      企业编号  变更前股权比例  变更后股权比例      股权变更日期    年报年份
0     4005    47.85    31.53  2014-08-29  2014.0
1     4005      NaN      NaN         NaN  2013.0
2     4009      25%     25.6  2014-12-02  2014.0
3     4013     100%     100%  2015-04-23  2015.0
4     4013      NaN      NaN         NaN  2014.0
5     4013      NaN      NaN         NaN  2014.0
6     4013      NaN      NaN         NaN  2014.0
7     4013       0%      10%  2016-12-13  2016.0
8     4014   100.0%   100.0%  2013-12-31  2013.0
9     4015    97.56    73.33  2017-01-09  2016.0
10    4015     2.44    26.67  2017-01-09  2016.0
11    4021     5.95     5.45  2013-03-10  2013.0
12    4021    28.52    29.52  2013-08-07  2013.0
13    4021    14.88     9.24  2013-03-11  2013.0
14    4021     9.24     4.02  2014-06-24  2014.0
15    4021     5.45     5.23  2014-08-13  2014.0
16    4021    39.32    37.67  2014-08-13  2014.0
17    4021     34.7     38.2  2014-06-04  2014.0
18    4021     0.45      0.5  2014-06-04  2014.0
19    4021     0.68     0.73  2014-06-04  2014.0
20    4021     1.79     1.87  2014-06-04  2014.0
21    4021     5.69     5.06  2014-12-12  2014.0
22    4021     2.68     2.54  2014-12-10  2014.0
23    4021       0%     0.75  2015-10-07  2015.0
24    4021     0.91     0.65  2015-05-17  2015.0
25    4021     0.67     0.45  2015-05-26  2015.0
26    4021       8%      4.9  2015-07-27  2015.0
27    4021      3.6     2.54  2015-05-17  2015.0
28    4021       0%      0.7  2015-08-18  2015.0
29    4021       0%     1.29  2015-12-01  2015.0
...    ...      ...      ...         ...     ...
2143  4522   1.791%  1.7257%  2015-12-24  2015.0
2144  4522   6.433%       4%  2015-12-24  2015.0
2145  4522       4%  3.8542%  2015-12-24  2015.0
2146  4522       0%  1.0625%  2015-12-24  2015.0
2147  4522       0%  2.5825%  2015-12-24  2015.0
2148  4522       0%  2.1985%  2015-12-24  2015.0
2149  4523    1.811    1.811  2017-06-16  2017.0
2150  4523   3.0833   3.0833  2017-06-16  2017.0
2151  4523   3.0833   3.0833  2017-06-16  2017.0
2152  4523   6.1638   4.1638  2017-06-16  2017.0
2153  4523   3.6999   3.6999  2017-06-16  2017.0
2154  4523   6.1638   4.1638  2017-06-16  2017.0
2155  4523    1.811    1.811  2017-06-16  2017.0
2156  4523   2.0833   2.0833  2017-06-16  2017.0
2157  4523   3.0833   2.0833  2017-06-16  2017.0
2158  4523      0.5      0.5  2017-06-16  2017.0
2159  4523   6.1638  10.1638  2017-06-16  2017.0
2160  4523   3.0833   2.0833  2017-06-16  2017.0
2161  4523   3.0833   2.0833  2017-06-16  2017.0
2162  4523   6.1638   4.1638  2017-06-16  2017.0
2163  4523      0.5      0.5  2017-06-16  2017.0
2164  4523  24.4942  27.4942  2017-06-16  2017.0
2165  4523   3.0833   3.0833  2017-06-16  2017.0
2166  4523   3.0833   3.0833  2017-06-16  2017.0
2167  4523   1.4488   1.4488  2017-06-16  2017.0
2168  4523       1%       1%  2017-06-16  2017.0
2169  4523   3.0833   3.0833  2017-06-16  2017.0
2170  4523   3.0833   2.0833  2017-06-16  2017.0
2171  4523   3.0833   2.0833  2017-06-16  2017.0
2172  4523   6.1638  11.1638  2017-06-16  2017.0

[2173 rows x 5 columns]

In [31]:
def limit(cell):
    if cell < 0.001:
        return 0
    return cell

In [32]:
df=data.dropna().reset_index().drop(columns="index")
df

      企业编号  变更前股权比例  变更后股权比例      股权变更日期    年报年份
0     4005    47.85    31.53  2014-08-29  2014.0
1     4009      25%     25.6  2014-12-02  2014.0
2     4013     100%     100%  2015-04-23  2015.0
3     4013       0%      10%  2016-12-13  2016.0
4     4014   100.0%   100.0%  2013-12-31  2013.0
5     4015    97.56    73.33  2017-01-09  2016.0
6     4015     2.44    26.67  2017-01-09  2016.0
7     4021     5.95     5.45  2013-03-10  2013.0
8     4021    28.52    29.52  2013-08-07  2013.0
9     4021    14.88     9.24  2013-03-11  2013.0
10    4021     9.24     4.02  2014-06-24  2014.0
11    4021     5.45     5.23  2014-08-13  2014.0
12    4021    39.32    37.67  2014-08-13  2014.0
13    4021     34.7     38.2  2014-06-04  2014.0
14    4021     0.45      0.5  2014-06-04  2014.0
15    4021     0.68     0.73  2014-06-04  2014.0
16    4021     1.79     1.87  2014-06-04  2014.0
17    4021     5.69     5.06  2014-12-12  2014.0
18    4021     2.68     2.54  2014-12-10  2014.0
19    4021       0%     0.75  2015-10-07  2015.0
20    4021     0.91     0.65  2015-05-17  2015.0
21    4021     0.67     0.45  2015-05-26  2015.0
22    4021       8%      4.9  2015-07-27  2015.0
23    4021      3.6     2.54  2015-05-17  2015.0
24    4021       0%      0.7  2015-08-18  2015.0
25    4021       0%     1.29  2015-12-01  2015.0
26    4021    52.87    37.58  2015-07-17  2015.0
27    4021      20%     1.59  2015-08-17  2015.0
28    4021     7.65     5.05  2015-05-06  2015.0
29    4021      2.4     1.86  2015-05-19  2015.0
...    ...      ...      ...         ...     ...
1935  4522   1.791%  1.7257%  2015-12-24  2015.0
1936  4522   6.433%       4%  2015-12-24  2015.0
1937  4522       4%  3.8542%  2015-12-24  2015.0
1938  4522       0%  1.0625%  2015-12-24  2015.0
1939  4522       0%  2.5825%  2015-12-24  2015.0
1940  4522       0%  2.1985%  2015-12-24  2015.0
1941  4523    1.811    1.811  2017-06-16  2017.0
1942  4523   3.0833   3.0833  2017-06-16  2017.0
1943  4523   3.0833   3.0833  2017-06-16  2017.0
1944  4523   6.1638   4.1638  2017-06-16  2017.0
1945  4523   3.6999   3.6999  2017-06-16  2017.0
1946  4523   6.1638   4.1638  2017-06-16  2017.0
1947  4523    1.811    1.811  2017-06-16  2017.0
1948  4523   2.0833   2.0833  2017-06-16  2017.0
1949  4523   3.0833   2.0833  2017-06-16  2017.0
1950  4523      0.5      0.5  2017-06-16  2017.0
1951  4523   6.1638  10.1638  2017-06-16  2017.0
1952  4523   3.0833   2.0833  2017-06-16  2017.0
1953  4523   3.0833   2.0833  2017-06-16  2017.0
1954  4523   6.1638   4.1638  2017-06-16  2017.0
1955  4523      0.5      0.5  2017-06-16  2017.0
1956  4523  24.4942  27.4942  2017-06-16  2017.0
1957  4523   3.0833   3.0833  2017-06-16  2017.0
1958  4523   3.0833   3.0833  2017-06-16  2017.0
1959  4523   1.4488   1.4488  2017-06-16  2017.0
1960  4523       1%       1%  2017-06-16  2017.0
1961  4523   3.0833   3.0833  2017-06-16  2017.0
1962  4523   3.0833   2.0833  2017-06-16  2017.0
1963  4523   3.0833   2.0833  2017-06-16  2017.0
1964  4523   6.1638  11.1638  2017-06-16  2017.0

[1965 rows x 5 columns]

In [33]:
for i in range(len(df)):
    if ( type(df.iloc[i,1])!=np.float):
        if (df.iloc[i,1][-1]=="%"or df.iloc[i,2][-1]=="%"):
            df.iloc[i,1]=float(df.iloc[i,1][:-1])
            df.iloc[i,2]=float(df.iloc[i,2][:-1])
        else:
            df.iloc[i,1]=float(df.iloc[i,1])
            df.iloc[i,2]=float(df.iloc[i,2])
df

      企业编号  变更前股权比例  变更后股权比例      股权变更日期    年报年份
0     4005    47.85    31.53  2014-08-29  2014.0
1     4009       25       25  2014-12-02  2014.0
2     4013      100      100  2015-04-23  2015.0
3     4013        0       10  2016-12-13  2016.0
4     4014      100      100  2013-12-31  2013.0
5     4015    97.56    73.33  2017-01-09  2016.0
6     4015     2.44    26.67  2017-01-09  2016.0
7     4021     5.95     5.45  2013-03-10  2013.0
8     4021    28.52    29.52  2013-08-07  2013.0
9     4021    14.88     9.24  2013-03-11  2013.0
10    4021     9.24     4.02  2014-06-24  2014.0
11    4021     5.45     5.23  2014-08-13  2014.0
12    4021    39.32    37.67  2014-08-13  2014.0
13    4021     34.7     38.2  2014-06-04  2014.0
14    4021     0.45      0.5  2014-06-04  2014.0
15    4021     0.68     0.73  2014-06-04  2014.0
16    4021     1.79     1.87  2014-06-04  2014.0
17    4021     5.69     5.06  2014-12-12  2014.0
18    4021     2.68     2.54  2014-12-10  2014.0
19    4021        0      0.7  2015-10-07  2015.0
20    4021     0.91     0.65  2015-05-17  2015.0
21    4021     0.67     0.45  2015-05-26  2015.0
22    4021        8        4  2015-07-27  2015.0
23    4021      3.6     2.54  2015-05-17  2015.0
24    4021        0        0  2015-08-18  2015.0
25    4021        0      1.2  2015-12-01  2015.0
26    4021    52.87    37.58  2015-07-17  2015.0
27    4021       20      1.5  2015-08-17  2015.0
28    4021     7.65     5.05  2015-05-06  2015.0
29    4021      2.4     1.86  2015-05-19  2015.0
...    ...      ...      ...         ...     ...
1935  4522    1.791   1.7257  2015-12-24  2015.0
1936  4522    6.433        4  2015-12-24  2015.0
1937  4522        4   3.8542  2015-12-24  2015.0
1938  4522        0   1.0625  2015-12-24  2015.0
1939  4522        0   2.5825  2015-12-24  2015.0
1940  4522        0   2.1985  2015-12-24  2015.0
1941  4523    1.811    1.811  2017-06-16  2017.0
1942  4523   3.0833   3.0833  2017-06-16  2017.0
1943  4523   3.0833   3.0833  2017-06-16  2017.0
1944  4523   6.1638   4.1638  2017-06-16  2017.0
1945  4523   3.6999   3.6999  2017-06-16  2017.0
1946  4523   6.1638   4.1638  2017-06-16  2017.0
1947  4523    1.811    1.811  2017-06-16  2017.0
1948  4523   2.0833   2.0833  2017-06-16  2017.0
1949  4523   3.0833   2.0833  2017-06-16  2017.0
1950  4523      0.5      0.5  2017-06-16  2017.0
1951  4523   6.1638  10.1638  2017-06-16  2017.0
1952  4523   3.0833   2.0833  2017-06-16  2017.0
1953  4523   3.0833   2.0833  2017-06-16  2017.0
1954  4523   6.1638   4.1638  2017-06-16  2017.0
1955  4523      0.5      0.5  2017-06-16  2017.0
1956  4523  24.4942  27.4942  2017-06-16  2017.0
1957  4523   3.0833   3.0833  2017-06-16  2017.0
1958  4523   3.0833   3.0833  2017-06-16  2017.0
1959  4523   1.4488   1.4488  2017-06-16  2017.0
1960  4523        1        1  2017-06-16  2017.0
1961  4523   3.0833   3.0833  2017-06-16  2017.0
1962  4523   3.0833   2.0833  2017-06-16  2017.0
1963  4523   3.0833   2.0833  2017-06-16  2017.0
1964  4523   6.1638  11.1638  2017-06-16  2017.0

[1965 rows x 5 columns]

In [34]:
df["变化比例"]=df["变更后股权比例"]-df["变更前股权比例"]
df

      企业编号  变更前股权比例  变更后股权比例      股权变更日期    年报年份    变化比例
0     4005    47.85    31.53  2014-08-29  2014.0  -16.32
1     4009       25       25  2014-12-02  2014.0       0
2     4013      100      100  2015-04-23  2015.0       0
3     4013        0       10  2016-12-13  2016.0      10
4     4014      100      100  2013-12-31  2013.0       0
5     4015    97.56    73.33  2017-01-09  2016.0  -24.23
6     4015     2.44    26.67  2017-01-09  2016.0   24.23
7     4021     5.95     5.45  2013-03-10  2013.0    -0.5
8     4021    28.52    29.52  2013-08-07  2013.0       1
9     4021    14.88     9.24  2013-03-11  2013.0   -5.64
10    4021     9.24     4.02  2014-06-24  2014.0   -5.22
11    4021     5.45     5.23  2014-08-13  2014.0   -0.22
12    4021    39.32    37.67  2014-08-13  2014.0   -1.65
13    4021     34.7     38.2  2014-06-04  2014.0     3.5
14    4021     0.45      0.5  2014-06-04  2014.0    0.05
15    4021     0.68     0.73  2014-06-04  2014.0    0.05
16    4021     1.79     1.87  2014-06-04  2014.0    0.08
17    4021     5.69     5.06  2014-12-12  2014.0   -0.63
18    4021     2.68     2.54  2014-12-10  2014.0   -0.14
19    4021        0      0.7  2015-10-07  2015.0     0.7
20    4021     0.91     0.65  2015-05-17  2015.0   -0.26
21    4021     0.67     0.45  2015-05-26  2015.0   -0.22
22    4021        8        4  2015-07-27  2015.0      -4
23    4021      3.6     2.54  2015-05-17  2015.0   -1.06
24    4021        0        0  2015-08-18  2015.0       0
25    4021        0      1.2  2015-12-01  2015.0     1.2
26    4021    52.87    37.58  2015-07-17  2015.0  -15.29
27    4021       20      1.5  2015-08-17  2015.0   -18.5
28    4021     7.65     5.05  2015-05-06  2015.0    -2.6
29    4021      2.4     1.86  2015-05-19  2015.0   -0.54
...    ...      ...      ...         ...     ...     ...
1935  4522    1.791   1.7257  2015-12-24  2015.0 -0.0653
1936  4522    6.433        4  2015-12-24  2015.0  -2.433
1937  4522        4   3.8542  2015-12-24  2015.0 -0.1458
1938  4522        0   1.0625  2015-12-24  2015.0  1.0625
1939  4522        0   2.5825  2015-12-24  2015.0  2.5825
1940  4522        0   2.1985  2015-12-24  2015.0  2.1985
1941  4523    1.811    1.811  2017-06-16  2017.0       0
1942  4523   3.0833   3.0833  2017-06-16  2017.0       0
1943  4523   3.0833   3.0833  2017-06-16  2017.0       0
1944  4523   6.1638   4.1638  2017-06-16  2017.0      -2
1945  4523   3.6999   3.6999  2017-06-16  2017.0       0
1946  4523   6.1638   4.1638  2017-06-16  2017.0      -2
1947  4523    1.811    1.811  2017-06-16  2017.0       0
1948  4523   2.0833   2.0833  2017-06-16  2017.0       0
1949  4523   3.0833   2.0833  2017-06-16  2017.0      -1
1950  4523      0.5      0.5  2017-06-16  2017.0       0
1951  4523   6.1638  10.1638  2017-06-16  2017.0       4
1952  4523   3.0833   2.0833  2017-06-16  2017.0      -1
1953  4523   3.0833   2.0833  2017-06-16  2017.0      -1
1954  4523   6.1638   4.1638  2017-06-16  2017.0      -2
1955  4523      0.5      0.5  2017-06-16  2017.0       0
1956  4523  24.4942  27.4942  2017-06-16  2017.0       3
1957  4523   3.0833   3.0833  2017-06-16  2017.0       0
1958  4523   3.0833   3.0833  2017-06-16  2017.0       0
1959  4523   1.4488   1.4488  2017-06-16  2017.0       0
1960  4523        1        1  2017-06-16  2017.0       0
1961  4523   3.0833   3.0833  2017-06-16  2017.0       0
1962  4523   3.0833   2.0833  2017-06-16  2017.0      -1
1963  4523   3.0833   2.0833  2017-06-16  2017.0      -1
1964  4523   6.1638  11.1638  2017-06-16  2017.0       5

[1965 rows x 6 columns]

In [35]:
result_15=df.drop(columns=["股权变更日期","变更前股权比例","变更后股权比例"]).groupby(['企业编号',"年报年份"]).sum().unstack().T
result_15=result_15.applymap(limit).reindex(columns=list(range(4001,4526)))
result_15

企业编号         4001  4002  4003  4004  4005  4006  4007  4008  4009  4010  ...   \
     年报年份                                                                ...
变化比例 2013.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
     2014.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN   0.0   NaN  ...
     2015.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
     2016.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
     2017.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

企业编号         4516  4517  4518  4519  4520  4521  4522  4523  4524  4525
     年报年份
变化比例 2013.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
     2014.0   NaN   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN   NaN
     2015.0   NaN   0.0   NaN   NaN   0.0   NaN   0.0   NaN   NaN   NaN
     2016.0   NaN   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
     2017.0   NaN   NaN   0.0   NaN   NaN   NaN   NaN   1.0   NaN   NaN

[5 rows x 525 columns]

In [36]:
df=df.set_index("企业编号")
def to_day(cell):
    if not isinstance(cell, str):
        return cell
    return (dateutil.parser.parse(cell) - datetime.datetime(2019, 3, 5)).days
dd = df[['股权变更日期']].applymap(to_day).groupby('企业编号').mean().T
dd = dd.reindex(columns=list(range(4001,4526)))
dd

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
股权变更日期,NaN,NaN,NaN,NaN,-1649.0,NaN,NaN,NaN,-1554.0,NaN,...,NaN,-1107.769231,-814.916667,NaN,-1348.307692,-1653.0,-1167.0,-627.0,NaN,NaN

In [37]:
result_15.append(dd)

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
"(变化比例, 2013.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(变化比例, 2014.0)",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
"(变化比例, 2015.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,NaN,NaN,0.000000,NaN,0.0,NaN,NaN,NaN
"(变化比例, 2016.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(变化比例, 2017.0)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,1.0,NaN,NaN
股权变更日期,NaN,NaN,NaN,NaN,-1649.0,NaN,NaN,NaN,-1554.0,NaN,...,NaN,-1107.769231,-814.916667,NaN,-1348.307692,-1653.0,-1167.0,-627.0,NaN,NaN

In [38]:
result_15.append(dd).to_pickle('年报-股东股权转让-testing.pickle')