In [1]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

In [2]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [3]:
%matplotlib notebook

In [4]:
df = pd.read_excel('赛题1测试数据集/年报-对外投资信息.xlsx', index_col='企业编号')
df.columns=['$投资金额', '$投资占比', '年报年份']
df

        $投资金额  $投资占比  年报年份
企业编号
4001      NaN    NaN  2013
4001      NaN    NaN  2013
4001      NaN    NaN  2013
4001      NaN    NaN  2013
4001      NaN    NaN  2013
...       ...    ...   ...
4525  19980.0   99.9  2013
4525   3700.0  100.0  2013
4525    800.0   80.0  2013
4525   5000.0  100.0  2013
4525      NaN    NaN  2016

[9068 rows x 3 columns]

In [5]:
investment_amount = df[['$投资金额']].groupby('企业编号').sum().T
investment_amount = investment_amount.reindex(columns=list(range(4001,4526)))
investment_amount

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
$投资金额,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,94415.0

In [6]:
investment_ratio = df[['$投资占比']].groupby('企业编号').mean().T
investment_ratio = investment_ratio.reindex(columns=list(range(4001,4526)))
investment_ratio

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
$投资占比,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.616667

In [7]:
pd.concat([investment_amount, investment_ratio]).to_pickle('年报-对外投资信息-testing.pickle')