In [24]:
import pandas as pd
import numpy as np

data=pd.read_excel("赛题1数据材料\赛题1数据集\年报-企业基本信息.xlsx",index_col="企业编号")
data

,注册资本,企业经营状态,从业人数,是否有网站或网点,企业是否有投资信息或购买其他公司股权,有限责任公司本年度是否发生股东股权转,是否提供对外担保,发布日期,年报年份
企业编号,,,,,,,,,
1001,NaN,开业,企业选择不公示,是,是,是,否,2015-03-26,2014.0
1001,NaN,开业,企业选择不公示,是,是,是,否,2015-03-26,2013.0
1001,NaN,开业,47159人,是,是,否,否,2016-06-28,2015.0
1001,NaN,开业,企业选择不公示,是,是,是,否,2017-05-22,2016.0
1001,NaN,开业,企业选择不公示,是,是,是,否,2018-06-27,2017.0
1002,NaN,开业,企业选择不公示,是,否,否,否,2015-04-10,2013.0
1002,NaN,开业,企业选择不公示,是,否,否,否,2015-04-11,2014.0
1002,NaN,开业,13914人,是,是,否,否,2016-06-02,2015.0
1002,NaN,开业,企业选择不公示,是,否,否,否,2017-06-06,2016.0
1002,NaN,开业,企业选择不公示,是,是,是,否,2018-06-25,2017.0
1003,NaN,开业,企业选择不公示,否,否,否,否,2016-05-20,2015.0
1003,NaN,开业,企业选择不公示,否,否,否,否,2016-05-20,2014.0
1003,NaN,开业,企业选择不公示,否,否,否,否,2016-05-20,2013.0
1003,NaN,开业,企业选择不公示,否,否,否,否,2017-05-12,2016.0
1003,NaN,开业,企业选择不公示,是,否,否,否,2018-05-23,2017.0
1004,NaN,开业,企业选择不公示,是,无,否,否,2015-05-07,2014.0
1004,NaN,开业,企业选择不公示,是,有,否,否,2014-12-17,2013.0
1004,NaN,开业,企业选择不公示,是,有,否,否,2016-05-13,2015.0
1004,NaN,开业,企业选择不公示,是,无,否,否,2017-05-22,2016.0
1004,NaN,开业,企业选择不公示,是,无,否,否,2018-06-05,2017.0
1005,NaN,开业,6515人,是,有,否,否,2015-06-25,2013.0
1005,NaN,开业,6511人,是,有,否,否,2015-06-25,2014.0
1005,NaN,开业,企业选择不公示,是,是,否,否,2016-06-22,2015.0
1005,NaN,开业,企业选择不公示,是,是,否,否,2017-06-29,2016.0
1005,NaN,开业,企业选择不公示,是,是,否,否,2018-06-04,2017.0
1006,NaN,开业,5523人,否,是,否,否,2015-06-16,2014.0
1006,NaN,开业,7453人,否,是,否,否,2014-11-13,2013.0
1006,NaN,开业,5523人,否,是,否,否,2016-06-14,2015.0
1006,NaN,开业,企业选择不公示,否,是,否,否,2017-05-25,2016.0
1006,NaN,开业,企业选择不公示,否,是,否,否,2018-05-14,2017.0
...,...,...,...,...,...,...,...,...,...
3995,NaN,开业,1250人,是,否,否,否,2015-04-21,2014.0
3995,13000,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-15,2013.0
3995,NaN,开业,企业选择不公示,否,否,否,否,2016-05-25,2015.0
3995,NaN,开业,企业选择不公示,否,否,否,否,2017-05-02,2016.0
3995,NaN,开业,企业选择不公示,否,否,否,否,2018-04-24,2017.0
3996,24440,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-15,2013.0
3996,NaN,开业,3837人,是,否,否,否,2015-04-14,2014.0
3996,NaN,开业,企业选择不公示,否,否,否,否,2016-04-22,2015.0
3996,NaN,清算,企业选择不公示,是,否,否,否,2017-05-11,2016.0
3996,NaN,开业,企业选择不公示,否,否,否,否,2018-05-22,2017.0
3997,NaN,开业,236人,是,否,是,否,2015-04-28,2013.0
3997,NaN,开业,209人,是,否,否,否,2015-04-28,2014.0
3997,NaN,开业,231人,是,否,否,否,2016-05-11,2015.0
3997,NaN,开业,企业选择不公示,否,否,否,否,2017-04-11,2016.0
3997,NaN,开业,企业选择不公示,是,否,否,否,2018-06-25,2017.0
3998,29065.6742万元人民币,开业/正常经营,企业选择不公示,是,有,否,否,2016-06-08,2015.0
3998,29065.6742万元人民币,开业/正常经营,企业选择不公示,是,有,否,否,2015-06-02,2014.0
3998,29065.6742万元人民币,开业/正常经营,企业选择不公示,是,有,否,否,2014-12-10,2013.0
3998,29065.6742万元人民币,开业/正常经营,企业选择不公示,是,有,否,是,2017-05-04,2016.0
3998,29065.6742万元人民币,开业/正常经营,企业选择不公示,是,有,否,是,2018-05-16,2017.0
3999,NaN,开业,350人,否,否,否,否,2015-04-01,2014.0
3999,NaN,开业,376人,否,否,否,否,2014-10-30,2013.0
3999,NaN,开业,企业选择不公示,否,否,否,否,2016-06-20,2015.0
3999,NaN,开业,企业选择不公示,是,否,否,否,2017-03-29,2016.0
3999,NaN,开业,企业选择不公示,是,否,否,否,2018-04-13,2017.0
4000,30267.5973万元人民币,开业,390人,是,否,否,否,2016-04-21,2015.0
4000,30267.5973万元人民币,开业,企业选择不公示,是,否,否,否,2015-06-19,2014.0
4000,30267.5973万元人民币,开业,企业选择不公示,是,否,否,否,2015-01-13,2013.0
4000,30267.5973万元人民币,开业,企业选择不公示,是,否,否,否,2017-04-12,2016.0
4000,30267.5973万元人民币,开业,企业选择不公示,是,否,否,否,2018-04-28,2017.0

In [29]:
dummy_1=pd.get_dummies(data["企业经营状态"])
dummy_1=dummy_1.groupby("企业编号").sum().drop(columns=["停业","清算","歇业","其他"]).T
dummy_1

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
存续,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
开业,5,5,5,5,5,5,5,5,5,5,...,5,3,5,5,4,3,5,0,5,5
开业/正常经营,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,0,0
正常开业,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0

In [43]:
dummy_2=pd.get_dummies(data["是否有网站或网点"])
dummy_2=dummy_2.groupby("企业编号").sum()
dummy_2["是"]=dummy_2["是"]+dummy_2["有"]
dummy_2["否"]=dummy_2["否"]+dummy_2["无"]
dummy_2=dummy_2.drop(columns=["有","无"]).T
dummy_2

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
否,0,0,4,0,0,5,5,0,0,0,...,1,3,0,0,3,2,1,0,3,0
是,5,5,1,5,5,0,0,5,5,5,...,4,2,5,5,1,2,4,5,2,5

In [44]:
dummy_3=pd.get_dummies(data["企业是否有投资信息或购买其他公司股权"])
dummy_3=dummy_3.groupby("企业编号").sum()
dummy_3["是"]=dummy_3["是"]+dummy_3["有"]
dummy_3["否"]=dummy_3["否"]+dummy_3["无"]
dummy_3=dummy_3.drop(columns=["有","无"]).T
dummy_3

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
否,0,3,5,3,0,0,4,0,2,0,...,0,2,2,3,4,4,5,0,5,5
是,5,2,0,2,5,5,1,5,3,5,...,5,3,3,2,0,0,0,5,0,0

In [45]:
dummy_4=pd.get_dummies(data["有限责任公司本年度是否发生股东股权转"])
dummy_4=dummy_4.groupby("企业编号").sum()
dummy_4["是"]=dummy_4["是"]+dummy_4["有"]
dummy_4["否"]=dummy_4["否"]+dummy_4["无"]
dummy_4=dummy_4.drop(columns=["有","无"]).T
dummy_4

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
否,1,4,5,5,5,5,5,5,5,5,...,5,5,5,5,4,4,4,5,5,5
是,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [37]:
dummy_5=pd.get_dummies(data["是否提供对外担保"])
dummy_5=dummy_5.groupby("企业编号").sum().T
dummy_5

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
否,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,4,4,5,3,5,5
是,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0

In [49]:
result_16=dummy_1.append([dummy_2,dummy_3,dummy_4,dummy_5])
result_16

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
存续,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
开业,5,5,5,5,5,5,5,5,5,5,...,5,3,5,5,4,3,5,0,5,5
开业/正常经营,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,0,0
正常开业,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
否,0,0,4,0,0,5,5,0,0,0,...,1,3,0,0,3,2,1,0,3,0
是,5,5,1,5,5,0,0,5,5,5,...,4,2,5,5,1,2,4,5,2,5
否,0,3,5,3,0,0,4,0,2,0,...,0,2,2,3,4,4,5,0,5,5
是,5,2,0,2,5,5,1,5,3,5,...,5,3,3,2,0,0,0,5,0,0
否,1,4,5,5,5,5,5,5,5,5,...,5,5,5,5,4,4,4,5,5,5
是,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
否,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,4,4,5,3,5,5
是,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0