In [1]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime
data=pd.read_excel("赛题1测试数据集\年报-股东（发起人）及出资信息.xlsx").drop_duplicates(keep='first'
                                                                         ).set_index(["企业编号","年报年份"])
data

          股东类型  股东所占比例                                             认缴出资信息  \
企业编号 年报年份
4001 2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：9431.12万元\n认缴出资日期：2013-05-16
     2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：17368.88万元\n认缴出资日期：2013-0...
     2014   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：11317.344万元\n认缴出资日期：2014-...
     2014   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：20842.656万元\n认缴出资日期：2014-...
     2015   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：23719.1247万元\n认缴出资日期：2015...
     2015   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：13259.491万元\n认缴出资日期：2015-...
     2016   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：23719.1247万元\n认缴出资日期：2015...
     2016   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：13259.491万元\n认缴出资日期：2015-...
     2017   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：23719.1247万元\n认缴出资日期：2015...
     2017   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：13259.491万元\n认缴出资日期：2015-...
4002 2014   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：2627.1万元\n认缴出资日期：2015-06-01
     2014   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：1329.7万元\n认缴出资日期：2015-06-01
     2014   货币     NaN     认缴出资方式：货币\n认缴出资额（万元）：2952万元\n认缴出资日期：2015-06-01
     2014   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：1191.9万元\n认缴出资日期：2015-06-01
     2014   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：10856.6778万元\n认缴出资日期：2015...
     2014   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：3912.3万元\n认缴出资日期：2015-06-01
     2014   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：3231.9万元\n认缴出资日期：2015-06-01
     2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：164.9952万元\n认缴出资日期：2014-0...
     2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：294.6666万元\n认缴出资日期：2014-0...
     2013   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：2627.1万元\n认缴出资日期：2014-07-24
     2013   货币     NaN     认缴出资方式：货币\n认缴出资额（万元）：3402万元\n认缴出资日期：2014-07-24
     2013   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：3912.3万元\n认缴出资日期：2014-07-24
     2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：175.8156万元\n认缴出资日期：2014-0...
     2013   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：3231.9万元\n认缴出资日期：2014-07-24
     2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：150.7482万元\n认缴出资日期：2014-0...
     2013   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：1379.7万元\n认缴出资日期：2014-07-24
     2013   货币     NaN   认缴出资方式：货币\n认缴出资额（万元）：1341.9万元\n认缴出资日期：2014-07-24
     2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：7700.4876万元\n认缴出资日期：2014-...
     2013   货币     NaN  认缴出资方式：货币\n认缴出资额（万元）：440.3868万元\n认缴出资日期：2014-0...
     2013   货币     NaN      认缴出资方式：货币\n认缴出资额（万元）：378万元\n认缴出资日期：2014-07-24
...        ...     ...                                                ...
4525 2015  NaN     NaN   认缴出资方式：货币\n认缴出资额（万元）：0.01万人民币\n认缴出资日期：1999-01-25
     2015  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：31121.5898万人民币\n认缴出资日期：19...
     2015  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：3878.3802万人民币\n认缴出资日期：199...
     2014  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：31121.59万人民币\n认缴出资日期：2007...
     2014  NaN     NaN   认缴出资方式：货币\n认缴出资额（万元）：0.01万人民币\n认缴出资日期：2007-04-06
     2014  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：3878.38万人民币\n认缴出资日期：2007-...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：1163.8157万人民币\n认缴出资日期：200...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：1163.82万人民币\n认缴出资日期：2001-...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：1123.78万人民币\n认缴出资日期：2001-...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：743.1948万人民币\n认缴出资日期：2001...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：1804.5351万人民币\n认缴出资日期：200...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：1123.7845万人民币\n认缴出资日期：200...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：607.032万人民币\n认缴出资日期：2001-...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：31121.5898万人民币\n认缴出资日期：19...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：3878.3802万人民币\n认缴出资日期：199...
     2016  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：607.03万人民币\n认缴出资日期：2001-0...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：2188.1819万人民币\n认缴出资日期：201...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：35353.8831万人民币\n认缴出资日期：20...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：3878.3802万人民币\n认缴出资日期：201...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：520.6593万人民币\n认缴出资日期：2016...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：6957.2341万人民币\n认缴出资日期：201...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：1354.8105万人民币\n认缴出资日期：201...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：2507.447万人民币\n认缴出资日期：2016...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：32098.0094万人民币\n认缴出资日期：20...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：2322.0335万人民币\n认缴出资日期：201...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：416.8487万人民币\n认缴出资日期：2016...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：5459.5139万人民币\n认缴出资日期：201...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：4733.646万人民币\n认缴出资日期：2016...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：7098.7583万人民币\n认缴出资日期：201...
     2017  NaN     NaN  认缴出资方式：货币\n认缴出资额（万元）：4519.7207万人民币\n认缴出资日期：201...

                                                      实缴出资信息
企业编号 年报年份
4001 2013  实缴出资方式：货币\n实缴出资额（万元）：9431.12万元\n实缴出资日期：2013-05-16
     2013  实缴出资方式：货币\n实缴出资额（万元）：17368.88万元\n实缴出资日期：2013-0...
     2014  实缴出资方式：货币\n实缴出资额（万元）：11317.344万元\n实缴出资日期：2014-...
     2014  实缴出资方式：货币\n实缴出资额（万元）：20842.656万元\n实缴出资日期：2014-...
     2015  实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...
     2015  实缴出资方式：货币\n实缴出资额（万元）：13259.491万元\n实缴出资日期：2015-...
     2016  实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...
     2016  实缴出资方式：货币\n实缴出资额（万元）：13259.491万元\n实缴出资日期：2015-...
     2017  实缴出资方式：货币\n实缴出资额（万元）：23719.1247万元\n实缴出资日期：2015...
     2017  实缴出资方式：货币\n实缴出资额（万元）：13259.491万元\n实缴出资日期：2015-...
4002 2014   实缴出资方式：货币\n实缴出资额（万元）：2627.1万元\n实缴出资日期：2015-06-01
     2014   实缴出资方式：货币\n实缴出资额（万元）：1329.7万元\n实缴出资日期：2015-06-01
     2014     实缴出资方式：货币\n实缴出资额（万元）：2952万元\n实缴出资日期：2015-06-01
     2014   实缴出资方式：货币\n实缴出资额（万元）：1191.9万元\n实缴出资日期：2015-06-01
     2014  实缴出资方式：货币\n实缴出资额（万元）：10856.6778万元\n实缴出资日期：2015...
     2014   实缴出资方式：货币\n实缴出资额（万元）：3912.3万元\n实缴出资日期：2015-06-01
     2014   实缴出资方式：货币\n实缴出资额（万元）：3231.9万元\n实缴出资日期：2015-06-01
     2013  实缴出资方式：货币\n实缴出资额（万元）：164.9952万元\n实缴出资日期：2014-0...
     2013  实缴出资方式：货币\n实缴出资额（万元）：294.6666万元\n实缴出资日期：2014-0...
     2013   实缴出资方式：货币\n实缴出资额（万元）：2627.1万元\n实缴出资日期：2014-07-24
     2013     实缴出资方式：货币\n实缴出资额（万元）：3402万元\n实缴出资日期：2014-07-24
     2013   实缴出资方式：货币\n实缴出资额（万元）：3912.3万元\n实缴出资日期：2014-07-24
     2013  实缴出资方式：货币\n实缴出资额（万元）：175.8156万元\n实缴出资日期：2014-0...
     2013   实缴出资方式：货币\n实缴出资额（万元）：3231.9万元\n实缴出资日期：2014-07-24
     2013  实缴出资方式：货币\n实缴出资额（万元）：150.7482万元\n实缴出资日期：2014-0...
     2013   实缴出资方式：货币\n实缴出资额（万元）：1379.7万元\n实缴出资日期：2014-07-24
     2013   实缴出资方式：货币\n实缴出资额（万元）：1341.9万元\n实缴出资日期：2014-07-24
     2013  实缴出资方式：货币\n实缴出资额（万元）：7700.4876万元\n实缴出资日期：2014-...
     2013  实缴出资方式：货币\n实缴出资额（万元）：440.3868万元\n实缴出资日期：2014-0...
     2013      实缴出资方式：货币\n实缴出资额（万元）：378万元\n实缴出资日期：2014-07-24
...                                                      ...
4525 2015   实缴出资方式：货币\n实缴出资额（万元）：0.01万人民币\n实缴出资日期：1999-01-25
     2015  实缴出资方式：货币\n实缴出资额（万元）：31121.5898万人民币\n实缴出资日期：19...
     2015  实缴出资方式：货币\n实缴出资额（万元）：3878.3802万人民币\n实缴出资日期：199...
     2014  实缴出资方式：货币\n实缴出资额（万元）：31121.59万人民币\n实缴出资日期：2007...
     2014   实缴出资方式：货币\n实缴出资额（万元）：0.01万人民币\n实缴出资日期：2007-04-06
     2014  实缴出资方式：货币\n实缴出资额（万元）：3878.38万人民币\n实缴出资日期：2007-...
     2016  实缴出资方式：货币\n实缴出资额（万元）：1167.4132万人民币\n实缴出资日期：200...
     2016  实缴出资方式：货币\n实缴出资额（万元）：1167.41万人民币\n实缴出资日期：2001-...
     2016  实缴出资方式：货币\n实缴出资额（万元）：1127.26万人民币\n实缴出资日期：2001-...
     2016  实缴出资方式：货币\n实缴出资额（万元）：745.4921万人民币\n实缴出资日期：2001...
     2016  实缴出资方式：货币\n实缴出资额（万元）：1810.1131万人民币\n实缴出资日期：200...
     2016  实缴出资方式：货币\n实缴出资额（万元）：1127.2582万人民币\n实缴出资日期：200...
     2016  实缴出资方式：货币\n实缴出资额（万元）：608.9084万人民币\n实缴出资日期：2001...
     2016  实缴出资方式：货币\n实缴出资额（万元）：31121.5898万人民币\n实缴出资日期：19...
     2016  实缴出资方式：货币\n实缴出资额（万元）：3878.3802万人民币\n实缴出资日期：199...
     2016  实缴出资方式：货币\n实缴出资额（万元）：608.91万人民币\n实缴出资日期：2001-0...
     2017  实缴出资方式：货币\n实缴出资额（万元）：2188.1819万人民币\n实缴出资日期：201...
     2017  实缴出资方式：货币\n实缴出资额（万元）：35353.8831万人民币\n实缴出资日期：20...
     2017  实缴出资方式：货币\n实缴出资额（万元）：3878.3802万人民币\n实缴出资日期：201...
     2017  实缴出资方式：货币\n实缴出资额（万元）：520.6593万人民币\n实缴出资日期：2016...
     2017  实缴出资方式：货币\n实缴出资额（万元）：6957.2341万人民币\n实缴出资日期：201...
     2017  实缴出资方式：货币\n实缴出资额（万元）：1354.8105万人民币\n实缴出资日期：201...
     2017  实缴出资方式：货币\n实缴出资额（万元）：2507.447万人民币\n实缴出资日期：2016...
     2017  实缴出资方式：货币\n实缴出资额（万元）：32098.0094万人民币\n实缴出资日期：20...
     2017  实缴出资方式：货币\n实缴出资额（万元）：2322.0335万人民币\n实缴出资日期：201...
     2017  实缴出资方式：货币\n实缴出资额（万元）：416.8487万人民币\n实缴出资日期：2016...
     2017  实缴出资方式：货币\n实缴出资额（万元）：5459.5139万人民币\n实缴出资日期：201...
     2017  实缴出资方式：货币\n实缴出资额（万元）：4733.646万人民币\n实缴出资日期：2016...
     2017  实缴出资方式：货币\n实缴出资额（万元）：7098.7583万人民币\n实缴出资日期：201...
     2017  实缴出资方式：货币\n实缴出资额（万元）：4519.7207万人民币\n实缴出资日期：201...

[25187 rows x 4 columns]

In [2]:
def get_number(cell):
    if not isinstance(cell, str):
        return cell
    _ = re.findall(r'[\d.]+',cell)
    if not _:
        return None
    return float(_[0])

In [3]:
df=data[["认缴出资信息"]].applymap(get_number)

In [4]:
result=df.groupby(["企业编号","年报年份"]).sum().unstack().T
result

企业编号               4001        4002  4003        4004       4005    4006  \
       年报年份
认缴出资信息 2013  26800.0000  25200.0000  45.0  16000.0000   9750.000  4983.8
       2014  32160.0000  26101.5778  45.0  32000.0000   5699.595  4983.8
       2015  36978.6157  26101.5778  45.0  32000.0000  34957.892  4983.8
       2016  36978.6157  28733.2509  45.0  27897.0900  34957.892  6664.0
       2017  36978.6157  28733.2509   2.0  26420.5633  34957.892  6664.0

企业编号             4007     4008       4009        4010     ...       \
       年报年份                                               ...
认缴出资信息 2013  21120.00      NaN  18500.000  10800.0000     ...
       2014  21581.17  4572.00  18662.000  16389.5776     ...
       2015  21698.70  2540.00  40324.000  60269.2884     ...
       2016  21698.70  1919.92  15720.000  72812.3556     ...
       2017  21698.70  2540.00  50568.847  72982.0456     ...

企业编号                4516        4517    4518         4519       4520  \
       年报年份
认缴出资信息 2013      8134.00  11111.0000  7988.4   15000.0000  2500.0000
       2014      8207.00  11111.0000  8232.0   15000.0000  2500.0000
       2015      8974.86  16667.0000  8232.0   47775.6357  2539.4734
       2016      8974.86  18591.2094  8292.3   61332.1800  3844.2118
       2017  89650426.00  37182.4188  8292.3  195519.3267  3844.2118

企业编号             4521       4522       4523    4524         4525
       年报年份
认缴出资信息 2013   1000.00  2572.8608  1543.4435  1500.0          NaN
       2014   1000.00  2572.8608  1543.4435  1500.0   34999.9800
       2015   4210.53  2673.8072  1358.5289  1500.0   34999.9800
       2016  10449.59  5779.8986  1266.0309  6000.0   43336.9621
       2017       NaN  5779.8986  1266.0309  6000.0  109409.1266

[5 rows x 515 columns]

In [6]:
result=result.reindex(columns=list(range(4001,4526)))
result.to_pickle('年报-股东（发起人）及出资信息-testing.pickle')