In [1]:
import pandas as pd
data=pd.read_excel("赛题1测试数据集\纳税A级年份.xlsx")
data

      企业编号  纳税A级年份
0     4001    2015
1     4001    2014
2     4001    2016
3     4001    2016
4     4002    2015
5     4002    2014
6     4002    2017
7     4002    2016
8     4003    2015
9     4003    2014
10    4003    2016
11    4005    2015
12    4005    2014
13    4005    2017
14    4006    2017
15    4007    2014
16    4007    2016
17    4007    2015
18    4007    2017
19    4003    2015
20    4003    2014
21    4003    2016
22    4008    2015
23    4008    2014
24    4008    2017
25    4010    2015
26    4010    2014
27    4010    2016
28    4010    2017
29    4011    2015
...    ...     ...
1510  4515    2016
1511  4515    2017
1512  4516    2016
1513  4516    2017
1514  4517    2015
1515  4517    2014
1516  4517    2016
1517  4517    2016
1518  4517    2017
1519  4518    2014
1520  4518    2016
1521  4518    2017
1522  4518    2016
1523  4518    2015
1524  4519    2014
1525  4519    2016
1526  4519    2017
1527  4519    2016
1528  4519    2017
1529  4521    2015
1530  4521    2016
1531  4522    2016
1532  4522    2017
1533  4522    2016
1534  4523    2014
1535  4524    2017
1536  4525    2015
1537  4525    2014
1538  4525    2016
1539  4525    2017

[1540 rows x 2 columns]

In [2]:
data=data.drop_duplicates(subset=['企业编号','纳税A级年份'],keep='first').set_index("企业编号")  #去除重复的年份，重复的年份为垃圾数据
data

      纳税A级年份
企业编号
4001    2015
4001    2014
4001    2016
4002    2015
4002    2014
4002    2017
4002    2016
4003    2015
4003    2014
4003    2016
4005    2015
4005    2014
4005    2017
4006    2017
4007    2014
4007    2016
4007    2015
4007    2017
4008    2015
4008    2014
4008    2017
4010    2015
4010    2014
4010    2016
4010    2017
4011    2015
4011    2016
4011    2017
4012    2015
4012    2014
...      ...
4513    2017
4514    2015
4514    2016
4514    2017
4515    2014
4515    2016
4515    2017
4516    2016
4516    2017
4517    2015
4517    2014
4517    2016
4517    2017
4518    2014
4518    2016
4518    2017
4518    2015
4519    2014
4519    2016
4519    2017
4521    2015
4521    2016
4522    2016
4522    2017
4523    2014
4524    2017
4525    2015
4525    2014
4525    2016
4525    2017

[1319 rows x 1 columns]

In [5]:
result_11=pd.get_dummies(data["纳税A级年份"],prefix="纳税A级年份").groupby("企业编号").sum().T.reindex(columns=list(range(4001,4526))).fillna(0)
result_11

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
纳税A级年份_2014,1,1,1,0.0,1,0,1,1,0.0,1,...,0,1,1,1,0.0,0,0,1,0,1
纳税A级年份_2015,1,1,1,0.0,1,0,1,1,0.0,1,...,0,1,1,0,0.0,1,0,0,0,1
纳税A级年份_2016,1,1,1,0.0,0,0,1,0,0.0,1,...,1,1,1,1,0.0,1,1,0,0,1
纳税A级年份_2017,0,1,0,0.0,1,1,1,1,0.0,1,...,1,1,1,1,0.0,0,1,0,1,1

In [6]:
result_11.to_pickle('纳税A级年份-testing.pickle')