In [32]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

In [33]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [34]:
%matplotlib notebook

In [35]:
df = pd.read_excel('赛题1测试数据集/项目信息.xlsx', index_col='企业编号')
df['企业规模'] = df['企业规模'].str.replace(
    '500-1000人', '500-2000人'
).replace(
    '1000人以上', '500-2000人'
).replace(
    '16228', '10000人以上'
).replace(
    '40507', '10000人以上'
).replace(
    '289', '150-500人'
).replace(
    '300-500人', '150-500人'
).replace(
    '10594', '10000人以上'
).replace(
    '17478', '10000人以上'
).replace(
    '3926', '2000-5000人'
).replace(
    '少于15人', '15人以下'
).replace(
    '589', '500-2000人'
)
df

,行业,标签,企业规模,运营状态,简介,项目成立时间
企业编号,,,,,,
4001,NaN,人工智能\n大数据\n智能硬件\n物联网安全\n智慧交通\n物联网云计算\n云计算\n知名F...,NaN,运营中,物联网技术服务商,2001-04-30
4002,NaN,企业服务\n智慧交通\n轨道交通\n国防\n视频监控\n企业安全,NaN,运营中,指挥调度与控制系统提供商,1995-01-26
4003,NaN,高新技术,NaN,运营中,PVC塑料改性剂产品的研发、生产和销售、服务,2003-12-26
4004,NaN,人工智能\n智能硬件\n车载智能硬件\n太阳能光伏\n电器,NaN,运营中,高低压电器元件、成套配电装置、日用电器元件、电器测试仪器等检测服务,1997-04-14
4005,NaN,医疗\n医疗器械\n医疗设备\n生物制药,NaN,运营中,集研产销为一体的医疗器械装备制造公司,2002-10-24
...,...,...,...,...,...,...
4521,NaN,传统行业\nLED\n制造业\n半导体器件\n智能硬件,NaN,运营中,LED背光显示模组生产商,2007-08-16
4522,NaN,医疗\n医疗器械\n护理\n管理系统\n护工护理\n知名风投\n医疗设备\n医疗设备研发生产,NaN,运营中,疼痛及五官科医疗器械研发商,2001-10-30
4523,NaN,先进制造\n游乐园\n设施\n专用设备\n生产制造\n智能制造装备,NaN,运营中,游乐设备制造商,2007-11-20
4524,NaN,先进制造\n传统行业\n车载智能硬件\n半导体器件\n智能制造\n智能仓储\n自动化设备\n...,NaN,NaN,智能制造系统提供商,2011-04-14
4525,NaN,医疗\n医疗技术\n医疗设备\n体外诊断\n医学影像\n解决方案供应商\n医疗器械\n投中2...,NaN,运营中,医疗设备解决方案供应商,1999-01-25

In [36]:
def limit(cell):
    if cell > 1:
        return 1
    return cell

In [37]:
industry = pd.get_dummies(df['行业'], prefix='行业').groupby('企业编号').sum().T
industry = industry.applymap(limit).reindex(columns=list(range(4001, 4526))).fillna(0)
industry

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
行业_企业服务,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_光电,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_公用事业,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_医疗健康,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_地产建筑,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_材料,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
行业_物流,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_生产制造,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
business_scale = pd.get_dummies(df['企业规模'], prefix='企业规模').groupby('企业编号').mean().T
business_scale = business_scale.reindex(columns=list(range(4001, 4526))).fillna(0)
business_scale

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
企业规模_150-500人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_2000-5000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_500-2000人,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
operational_status = pd.get_dummies(df['运营状态'], prefix='运营状态').groupby('企业编号').mean().T
operational_status = operational_status.reindex(columns=list(range(4001, 4526))).fillna(0)
operational_status

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
运营状态_运营中,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0

In [40]:
def to_day(cell):
    if not isinstance(cell, str):
        return cell
    return (dateutil.parser.parse(cell) - datetime.datetime(2019, 3, 5)).days

In [41]:
project_establishment_time = df[['项目成立时间']].applymap(to_day).groupby('企业编号').mean().T
project_establishment_time = project_establishment_time.reindex(columns=list(range(4001, 4526)))
project_establishment_time

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
项目成立时间,-6518.0,-8804.0,-5548.0,-7995.0,-5976.0,-6971.0,-4625.0,-5107.0,NaN,-5942.0,...,-4351.0,-3850.0,-5935.0,-2636.0,-3100.0,-4219.0,-6335.0,-4123.0,-2882.0,-7344.0

In [42]:
data=pd.concat([industry, business_scale, operational_status, project_establishment_time])

In [43]:
fillindex=['行业_人工智能', '行业_企业服务', '行业_光电', '行业_公用事业', '行业_农业', '行业_化工', '行业_医疗健康',
       '行业_地产建筑', '行业_房产家居', '行业_文娱传媒', '行业_旅游', '行业_材料', '行业_汽车交通', '行业_消费生活',
       '行业_物流', '行业_环保', '行业_生产制造', '行业_电商', '行业_硬件', '行业_能源矿产', '行业_金融',
       '企业规模_10000人以上', '企业规模_150-500人', '企业规模_15人以下', '企业规模_2000-5000人',
       '企业规模_50-150人', '企业规模_500-2000人', '企业规模_5000-10000人', '运营状态_融资中',
       '运营状态_运营中', '项目成立时间']

In [44]:
data=data.reindex(fillindex)
data.iloc[:-1,:]=data.iloc[:-1,:].fillna(0)
data.to_pickle('项目信息-testing.pickle')

In [45]:
data.index

Index(['行业_人工智能', '行业_企业服务', '行业_光电', '行业_公用事业', '行业_农业', '行业_化工', '行业_医疗健康',
       '行业_地产建筑', '行业_房产家居', '行业_文娱传媒', '行业_旅游', '行业_材料', '行业_汽车交通', '行业_消费生活',
       '行业_物流', '行业_环保', '行业_生产制造', '行业_电商', '行业_硬件', '行业_能源矿产', '行业_金融',
       '企业规模_10000人以上', '企业规模_150-500人', '企业规模_15人以下', '企业规模_2000-5000人',
       '企业规模_50-150人', '企业规模_500-2000人', '企业规模_5000-10000人', '运营状态_融资中',
       '运营状态_运营中', '项目成立时间'],
      dtype='object')

In [46]:
data

企业编号,4001,4002,4003,4004,4005,4006,4007,4008,4009,4010,...,4516,4517,4518,4519,4520,4521,4522,4523,4524,4525
行业_人工智能,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
行业_企业服务,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
行业_光电,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
行业_公用事业,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
行业_农业,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
企业规模_500-2000人,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
企业规模_5000-10000人,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
运营状态_融资中,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
运营状态_运营中,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
项目成立时间,-6518.0,-8804.0,-5548.0,-7995.0,-5976.0,-6971.0,-4625.0,-5107.0,NaN,-5942.0,...,-4351.0,-3850.0,-5935.0,-2636.0,-3100.0,-4219.0,-6335.0,-4123.0,-2882.0,-7344.0