In [1]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

In [2]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [3]:
df = pd.read_excel('赛题1数据材料/赛题1数据集/项目信息.xlsx', index_col='企业编号')
df['企业规模'] = df['企业规模'].str.replace(
    '500-1000人', '500-2000人'
).replace(
    '1000人以上', '500-2000人'
).replace(
    '16228', '10000人以上'
).replace(
    '40507', '10000人以上'
).replace(
    '289', '150-500人'
).replace(
    '300-500人', '150-500人'
).replace(
    '10594', '10000人以上'
).replace(
    '17478', '10000人以上'
).replace(
    '3926', '2000-5000人'
).replace(
    '少于15人', '15人以下'
).replace(
    '589', '500-2000人'
)
df

,行业,标签,企业规模,运营状态,简介,项目成立时间
企业编号,,,,,,
1001,NaN,金融\n银行\n信用卡\n金融机构\n储蓄,NaN,运营中,股份制商业银行,1992-10-19
1002,NaN,汽车交通\n休闲\n购物\n交通\n机场\n航空公司\n出行服务\n航空运输\n团队优秀,NaN,运营中,民用国际机场,2000-09-19
1003,NaN,汽车交通\n清华系\n团队优秀\n行业解决方案\n商用车,NaN,运营中,轻型商用车整体运营解决方案提供商,1999-07-21
1004,NaN,旅游\n酒店预订\n民宿预订\n酒店民宿\n预订平台\n酒店\n出租\n设施,NaN,运营中,从事商务服务设施的投资、经营和管理,1997-10-15
1005,NaN,传统行业\n污水处理\n水务,NaN,运营中,水务固废等环保业务,1999-08-31
...,...,...,...,...,...,...
3996,NaN,传统行业\n锂离子电池\n整体解决方案\n电池\n制造业\n零部件制造,NaN,运营中,锂离子电池模组制造商,1997-12-09
3997,NaN,企业服务\n纳税,NaN,运营中,机械成套装备、余热余压利用、电容器、电抗器等电能质量优化产品的生产销售、采掘服务、煤炭产销等,1998-03-10
3998,NaN,企业服务\n农业物联网\n智慧交通\n车货匹配平台\n物流运输\n现代农业\n硬件\n产业互...,NaN,运营中,产业互联网IT服务提供商,2000-05-25
3999,NaN,养护,NaN,运营中,新型公路养护设备研发、生产和销售,2004-10-25
4000,NaN,传统行业\n制造业,NaN,NaN,有线电视网络设备研发商,2001-08-15

In [4]:
def limit(cell):
    if cell > 1:
        return 1
    return cell

In [5]:
industry = pd.get_dummies(df['行业'], prefix='行业').groupby('企业编号').sum().T
industry = industry.applymap(limit).reindex(columns=list(range(1001, 4001))).fillna(0)
industry

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
行业_人工智能,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_企业服务,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_光电,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_公用事业,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_农业,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
行业_生产制造,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_电商,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_硬件,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_能源矿产,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
行业_金融,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
business_scale = pd.get_dummies(df['企业规模'], prefix='企业规模').groupby('企业编号').mean().T
business_scale = business_scale.reindex(columns=list(range(1001, 4001))).fillna(0)
business_scale

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
企业规模_10000人以上,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_150-500人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_15人以下,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_2000-5000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_50-150人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_500-2000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业规模_5000-10000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
operational_status = pd.get_dummies(df['运营状态'], prefix='运营状态').groupby('企业编号').mean().T
operational_status = operational_status.reindex(columns=list(range(1001, 4001))).fillna(0)
operational_status

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
运营状态_融资中,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
运营状态_运营中,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [8]:
def to_day(cell):
    if not isinstance(cell, str):
        return cell
    return (dateutil.parser.parse(cell) - datetime.datetime(2019, 3, 5)).days

In [9]:
project_establishment_time = df[['项目成立时间']].applymap(to_day).groupby('企业编号').mean().T
project_establishment_time = project_establishment_time.reindex(columns=list(range(1001, 4001)))
project_establishment_time

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
项目成立时间,-9633.0,-6741.0,-7167.0,-7811.0,-7126.0,-7692.0,-7189.0,NaN,-8856.0,-9638.0,...,-5474.0,-6269.0,-6045.0,-7151.0,-8616.0,-7756.0,-7665.0,-6858.0,-5244.0,-6411.0

In [10]:
pd.concat([industry, business_scale, operational_status, project_establishment_time]).to_pickle('项目信息.pickle')