In [1]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os

In [2]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [13]:
df = pd.read_excel('/Users/franklinli/Downloads/赛题1数据材料/赛题1数据集/项目信息.xlsx', index_col='企业编号').T
df

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1009,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
行业,NaN,NaN,NaN,NaN,NaN,NaN,NaN,能源矿产,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
标签,金融\n银行\n信用卡\n金融机构\n储蓄,汽车交通\n休闲\n购物\n交通\n机场\n航空公司\n出行服务\n航空运输\n团队优秀,汽车交通\n清华系\n团队优秀\n行业解决方案\n商用车,旅游\n酒店预订\n民宿预订\n酒店民宿\n预订平台\n酒店\n出租\n设施,传统行业\n污水处理\n水务,旅游\n航空\n旅客,传统行业\n钢铁\n稀土,能源矿产,传统行业\n建筑业\n建筑材料\n化学工业\n化工制品\n制造业\n宜昌\n薄膜,交通运输\n高速公路,...,企业服务,物联网\n传统行业\n智慧城市\n解决方案供应商\n安全\n知名风投\n物联网应用,医疗\n制药\n神经,教育\n企业服务\n教育大数据\n数据安全\n行业解决方案\n安全服务\nIT服务\n咨询服...,医疗\n医疗设备研发生产\n医疗设备\n医疗技术\n知名风投\n诊断系统\n体外诊断\n电子设备,传统行业\n锂离子电池\n整体解决方案\n电池\n制造业\n零部件制造,企业服务\n纳税,企业服务\n农业物联网\n智慧交通\n车货匹配平台\n物流运输\n现代农业\n硬件\n产业互...,养护,传统行业\n制造业
企业规模,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000人以上,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
运营状态,运营中,运营中,运营中,运营中,运营中,运营中,运营中,运营中,运营中,运营中,...,运营中,运营中,运营中,运营中,运营中,运营中,运营中,运营中,运营中,NaN
简介,股份制商业银行,民用国际机场,轻型商用车整体运营解决方案提供商,从事商务服务设施的投资、经营和管理,水务固废等环保业务,航空地面保障服务及其配套服务,钢铁企业,电力开发商,玻璃产品生产商,投资、建设、运营及管理安徽省境内外的收费公路,...,货币安全运营及数字化管理解决方案供应商,城市智慧化整体解决方案供应商,打造具有国际竞争力的制药企业,数据安全及智慧教育领域解决方案提供商,医疗设备供应商,锂离子电池模组制造商,机械成套装备、余热余压利用、电容器、电抗器等电能质量优化产品的生产销售、采掘服务、煤炭产销等,产业互联网IT服务提供商,新型公路养护设备研发、生产和销售,有线电视网络设备研发商
项目成立时间,1992-10-19,2000-09-19,1999-07-21,1997-10-15,1999-08-31,1998-02-11,1999-06-29,NaN,1993-03-26,1996-08-15,...,2004-03-09,2002-01-04,2002-08-16,1999-08-06,1995-08-02,1997-12-09,1998-03-10,2000-05-25,2004-10-25,2001-08-15

In [28]:
df.columns.value_counts()

1591    5
2914    4
1884    4
3196    3
3152    3
       ..
3022    1
3020    1
3018    1
3016    1
2049    1
Name: 企业编号, Length: 2975, dtype: int64

In [30]:
df.iloc[0].value_counts()

生产制造    28
企业服务    16
地产建筑    14
光电      13
医疗健康    11
        ..
房产家居     4
环保       2
旅游       2
人工智能     1
公用事业     1
Name: 行业, Length: 21, dtype: int64

In [32]:
pd.get_dummies(df.iloc[0]).T

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1009,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
人工智能,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业服务,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
光电,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
公用事业,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
农业,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
生产制造,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
电商,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
硬件,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
能源矿产,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
金融,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
def get_tag(cell):
    if isinstance(cell, str):
        return cell.splitlines()
    return cell

In [34]:
df.iloc[1].map(get_tag)

企业编号
1001                              [金融, 银行, 信用卡, 金融机构, 储蓄]
1002       [汽车交通, 休闲, 购物, 交通, 机场, 航空公司, 出行服务, 航空运输, 团队优秀]
1003                       [汽车交通, 清华系, 团队优秀, 行业解决方案, 商用车]
1004             [旅游, 酒店预订, 民宿预订, 酒店民宿, 预订平台, 酒店, 出租, 设施]
1005                                     [传统行业, 污水处理, 水务]
                              ...
3996                [传统行业, 锂离子电池, 整体解决方案, 电池, 制造业, 零部件制造]
3997                                           [企业服务, 纳税]
3998    [企业服务, 农业物联网, 智慧交通, 车货匹配平台, 物流运输, 现代农业, 硬件, 产业...
3999                                                 [养护]
4000                                          [传统行业, 制造业]
Name: 标签, Length: 3054, dtype: object

In [37]:
pd.get_dummies(df.iloc[2]).T

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1009,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
10000人以上,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1000人以上,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10594,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150-500人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15人以下,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500-1000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
500-2000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5000-10000人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
589,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
少于15人,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
pd.get_dummies(df.iloc[3]).T

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1009,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
融资中,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
运营中,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0

In [39]:
df.iloc[4].value_counts()

房地产开发商                               18
股份制商业银行                               8
汽车零部件研发商                              5
钢产品生产商                                5
待完善                                   4
                                     ..
石英频率控制元器研发商                           1
功率半导体器件制造商                            1
珠宝首饰设计商                               1
化妆品、日用品、保健品及食品塑料包装和汽车轻量化解决方案和产品服务     1
新能源产品制造商                              1
Name: 简介, Length: 2886, dtype: int64