In [1]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os

In [2]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [9]:
df = pd.read_excel('赛题1数据材料/赛题1数据集/项目信息.xlsx', index_col='企业编号')
df['企业规模'] = df['企业规模'].str.replace(
    '500-1000人', '500-2000人'
).replace(
    '1000人以上', '500-2000人'
).replace(
    '16228', '10000人以上'
).replace(
    '40507', '10000人以上'
).replace(
    '289', '150-500人'
).replace(
    '300-500人', '150-500人'
).replace(
    '10594', '10000人以上'
).replace(
    '17478', '10000人以上'
).replace(
    '3926', '2000-5000人'
).replace(
    '少于15人', '15人以下'
).replace(
    '589', '500-2000人'
)
df

,行业,标签,企业规模,运营状态,简介,项目成立时间
企业编号,,,,,,
1001,NaN,金融\n银行\n信用卡\n金融机构\n储蓄,NaN,运营中,股份制商业银行,1992-10-19
1002,NaN,汽车交通\n休闲\n购物\n交通\n机场\n航空公司\n出行服务\n航空运输\n团队优秀,NaN,运营中,民用国际机场,2000-09-19
1003,NaN,汽车交通\n清华系\n团队优秀\n行业解决方案\n商用车,NaN,运营中,轻型商用车整体运营解决方案提供商,1999-07-21
1004,NaN,旅游\n酒店预订\n民宿预订\n酒店民宿\n预订平台\n酒店\n出租\n设施,NaN,运营中,从事商务服务设施的投资、经营和管理,1997-10-15
1005,NaN,传统行业\n污水处理\n水务,NaN,运营中,水务固废等环保业务,1999-08-31
...,...,...,...,...,...,...
3996,NaN,传统行业\n锂离子电池\n整体解决方案\n电池\n制造业\n零部件制造,NaN,运营中,锂离子电池模组制造商,1997-12-09
3997,NaN,企业服务\n纳税,NaN,运营中,机械成套装备、余热余压利用、电容器、电抗器等电能质量优化产品的生产销售、采掘服务、煤炭产销等,1998-03-10
3998,NaN,企业服务\n农业物联网\n智慧交通\n车货匹配平台\n物流运输\n现代农业\n硬件\n产业互...,NaN,运营中,产业互联网IT服务提供商,2000-05-25
3999,NaN,养护,NaN,运营中,新型公路养护设备研发、生产和销售,2004-10-25
4000,NaN,传统行业\n制造业,NaN,NaN,有线电视网络设备研发商,2001-08-15

In [10]:
df.index.value_counts()

1591    5
2914    4
1884    4
3196    3
3152    3
       ..
3022    1
3020    1
3018    1
3016    1
2049    1
Name: 企业编号, Length: 2975, dtype: int64

In [11]:
df['行业'].value_counts()

生产制造    28
企业服务    16
地产建筑    14
光电      13
医疗健康    11
        ..
房产家居     4
旅游       2
环保       2
公用事业     1
人工智能     1
Name: 行业, Length: 21, dtype: int64

In [12]:
pd.get_dummies(df['行业']).T

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1009,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
人工智能,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
企业服务,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
光电,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
公用事业,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
农业,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
生产制造,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
电商,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
硬件,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
能源矿产,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
金融,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df['企业规模']

企业编号
1001    NaN
1002    NaN
1003    NaN
1004    NaN
1005    NaN
       ...
3996    NaN
3997    NaN
3998    NaN
3999    NaN
4000    NaN
Name: 企业规模, Length: 3054, dtype: object

In [ ]:
df.iloc[4].value_counts()