In [1]:
import pandas as pd
data=pd.read_excel(r"C:\Users\Administrator\.ipynb_checkpoints\工商基本信息表.xlsx", index_col="企业编号").T
data

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
注册资本（万元）,746.139,82.7728,80,40.2913,227.418,77.0783,1823.4,608.015,66.3444,512.907,...,21.9802,18.1007,19.0682,17.2022,23.4,61.9135,30.621,11.6263,19.3688,12.107
注册资本币种(正则),人民币,人民币,人民币,人民币,人民币,人民币,-,人民币,人民币,人民币,...,人民币,人民币,人民币,人民币,人民币,人民币,-,人民币,人民币,人民币
成立日期,1992-10-19,2000-09-19,1999-07-21,1997-10-15,1999-08-31,1998-02-11,1999-06-29,1994-06-30,1996-08-15,1992-10-14,...,2004-03-09,2002-01-04,2002-08-16,1999-08-06,1995-08-02,1997-12-09,1998-03-10,2000-05-25,2004-10-25,2001-08-15
经营状态,存续（在营、开业、在册）,在营（开业）企业,存续（在营、开业、在册）,开业,开业,存续（在营、开业、在册）,存续（在营、开业、在册）,开业,存续（在营、开业、在册）,开业,...,存续（在营、开业、在册）,存续,开业,存续（在营、开业、在册）,存续（在营、开业、在册）,存续（在营、开业、在册）,在营（开业）企业,存续（在营、开业、在册）,存续（在营、开业、在册）,存续（在营、开业、在册）
行业大类（代码）,J,O,C,F,L,G,C,D,G,J,...,L,C,C,C,F,C,L,I,C,C
行业小类（代码）,66,80,36,52,72,56,25,44,54,66,...,72,39,27,39,51,38,72,65,37,39
类型,民营,民营,民营,民营,民营,民营,民营,外企,外企,民营,...,民营,民营,民营,民营,民营,民营,民营,民营,民营,民营
省份代码,31,44,42,11,11,31,15,11,34,11,...,21,33,11,42,44,44,37,32,21,32
城市代码,3100,4400,4200,1101,1101,3101,1500,1100,3400,1100,...,2103,3300,1101,4200,4403,4403,3702,3200,2103,3205
地区代码,310000,440000,420000,110105,110102,310115,150000,110000,340000,110000,...,210300,330000,110115,420000,440300,440300,370200,320000,210300,320500
是否上市,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
经营期限自,1992-10-19,2000-09-19,1999-07-21,1997-10-15,1999-08-31,1998-02-11,1999-06-29,1994-06-30,1996-08-15,1992-10-14,...,2004-03-09,2002-01-04,2002-08-16,1999-08-06,1995-08-02,1997-12-09,1998-03-10,2000-05-25,2004-10-25,2001-08-15
经营期限至,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2054-10-24,NaN
登记机关区域代码,310100,440000,420000,100000,110100,100000,150200,100000,340000,100000,...,210300,330000,110100,420000,100000,440306,370200,320000,210300,320500
发照日期,1992-10-19,2017-12-21,2018-10-22,2019-02-19,2019-01-31,1998-02-11,2018-05-31,2018-08-27,2016-09-08,2018-10-12,...,2017-04-14,2018-09-30,2018-12-07,2016-11-18,2018-11-28,2018-11-27,2019-02-02,2018-07-11,2017-06-28,2016-08-16
员工人数,19,12,11,15,15,14,63,22,12,29,...,13,10,13,12,11,9,14,10,12,10
注销原因,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
注销时间,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 筛选数据

In [2]:
df=data.iloc[[0,5,6,7,10,15],:]
df

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
注册资本（万元）,746.139,82.7728,80,40.2913,227.418,77.0783,1823.4,608.015,66.3444,512.907,...,21.9802,18.1007,19.0682,17.2022,23.4,61.9135,30.621,11.6263,19.3688,12.107
行业小类（代码）,66,80,36,52,72,56,25,44,54,66,...,72,39,27,39,51,38,72,65,37,39
类型,民营,民营,民营,民营,民营,民营,民营,外企,外企,民营,...,民营,民营,民营,民营,民营,民营,民营,民营,民营,民营
省份代码,31,44,42,11,11,31,15,11,34,11,...,21,33,11,42,44,44,37,32,21,32
是否上市,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
员工人数,19,12,11,15,15,14,63,22,12,29,...,13,10,13,12,11,9,14,10,12,10

In [3]:
dummy_leixin=pd.get_dummies(df.iloc[2][:])
dummy_shangshi=pd.get_dummies(df.iloc[4][:])
result=df.append(dummy_leixin.T).append(dummy_shangshi.T)
result_2=result.drop(index=["类型","是否上市","外企","N"])
result_2

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
注册资本（万元）,746.139,82.7728,80,40.2913,227.418,77.0783,1823.4,608.015,66.3444,512.907,...,21.9802,18.1007,19.0682,17.2022,23.4,61.9135,30.621,11.6263,19.3688,12.107
行业小类（代码）,66,80,36,52,72,56,25,44,54,66,...,72,39,27,39,51,38,72,65,37,39
省份代码,31,44,42,11,11,31,15,11,34,11,...,21,33,11,42,44,44,37,32,21,32
员工人数,19,12,11,15,15,14,63,22,12,29,...,13,10,13,12,11,9,14,10,12,10
民营,1,1,1,1,1,1,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
Y,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1